.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 1;
}

.breadcrumbs-list {
    color: #a3a2a2;
    display: flex;
    align-items: flex-end;
}

.breadcrumb-item {
    position: relative;

    &::after {
        width: 6px;
        height: 6px;
        border-bottom: 2px solid $colorLink;
        border-right: 2px solid $colorLink;
        position: absolute;
        right: -15px;
        top: 6px;
        opacity: 0;
        content: '';
        transform: rotate(-45deg);
    }

    &:not(:last-child) {
        margin-right: 30px;

        &::after {
            opacity: 1;
        }
    }
}

.breadcrumb-link {
    color: #595959;
    text-decoration: none;
    transition: color .2s ease-in-out;
}
