.cases-page .case-item {
    margin-bottom: 20px;
}

.case {
    position: relative;
    .title-section {
        margin-bottom: 155px;
    }
}

.case-list {
    margin-bottom: 65px;
    list-style: none;
}

.case-item {
    padding: 28px 15px;
    .general-decor__title {
        margin-bottom: 15px;
        line-height: 1;
    }
}

.case-text {
    color: $mainColor;
}
