.company {
    margin-bottom: 55px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.about-company {
    width: 39%;
    min-height: 600px;
    padding: 130px 0 0;
    background: url(../img/bg/bg-about.png) no-repeat 90% 100%;
}

.about-company__title {
    margin-bottom: 30px;
    color: $colorLink;
    line-height: 1;
    text-transform: uppercase;
    @include font-size(45px)
}

.about-company__text {
    margin-bottom: 100px;
    @include font-size(24px);
}

.advantages-company {
    width: 61%;
    min-height: 600px;
    padding: 130px 20px 0;
    text-align: center;
    background: url(../img/bg/bg-advantages-company.jpg) no-repeat center;
}

.advantages-company__list {
    max-width: 535px;
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
}

.advantages-company__item {
    max-width: 265px;
    margin-bottom: 25px;
    padding-right: 20px;
    color: #605f5f;
    svg {
        width: 72px;
        height: 72px;
        margin-bottom: 5px;
    }
}
