.company {
    margin-bottom: 55px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.about-company {
    padding: 130px 0 0;
}

.about-company__text {
    padding-right: 20px;
    margin-bottom: 100px;
    @include font-size(24px);
}

.advantages-company {
    width: 61%;
    min-height: 600px;
    text-align: center;
    background: url(../img/bg/bg-advantages-company.jpg) no-repeat center;
}

.advantages-company__list {
    width: 100%;
    max-width: 535px;
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
}

.advantages-company__item {
    max-width: 265px;
    margin-bottom: 25px;
    padding-right: 20px;
    color: #605f5f;
    flex: 1 1 50%;
    svg {
        width: 72px;
        height: 72px;
        margin-bottom: 5px;
    }
}
