.contacts-form {
    padding-top: 40px;
    .title-section {
        margin-bottom: 20px;
    }
}

.contacts-button {
    padding-top: 20px;
    text-align: right;
    .btn {
        min-width: 200px;
    }
}

.contacts-support {
    position: relative;
    color: #fff;
    background-color: $colorLink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        color: #fff;
    }
    .decoration {
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
    }
}

.contacts-address {
    .location {
        width: 56px;
        height: 60px;
        left: -79px;
        top: -8px;
        fill: #fff;
        stroke: #fff;
        position: absolute;
    }
    position: relative;
}

.contacts-phone {
    margin-top: 25px;
    margin-bottom: 15px;
    @include font-size(35px);
}
