.decoration {
    height: 100px;
    position: absolute;
    top: 60px;
    right: 40px;
    line-height: 1;
    z-index: 99;
    &::before,
    &::after {
        width: 16px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 100%;
        content: '';
    }
    &::before {
        top: 7px;
        box-shadow: 0 16px 0 #fff, 0 33px 0 #fff;
    }
    &::after {
        bottom: 12px;
        box-shadow: 0 -15px 0 #fff, 0 -30px 0 #fff;
    }
}

.decoration-number {
    padding-left: 18px;
    color: #fff;
    display: block;
    @include font-size(18px);
}

.decoration-01,
.decoration-02,
.decoration-03,
.decoration-04,
.decoration-05,
.decoration-06 {
    &::before {
        width: 45px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 100%;
        content: '';
    }
}

.decoration-01::before {
    top: 7px;
}

.decoration-02 {
    padding-top: 16px;
    &::before {
        top: 23px;
    }
}

.decoration-03 {
    padding-top: 33px;
    &::before {
        top: 40px;
    }
}

.decoration-04 {
    padding-top: 50px;
    &::before {
        top: 56px;
    }
}

.decoration-05 {
    padding-top: 71px;
    &::before {
        top: 7px;
    }
}

.decoration-06 {
    padding-top: 82px;
    &::before {
        top: 86px;
    }
}
