.faq-page .faq-item {
    margin-bottom: 20px;
}

.faq {
    margin-bottom: 70px;
    position: relative;
}

.faq-pre-title {
    @include font-size(24px)
}

.faq-list {
    margin-bottom: 65px;
    list-style: none;
}

.faq-item {
    padding-left: 65px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    height: 155px;
    &:hover {
        .faq-answer {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.faq-answer {
    width: 100%;
    background-color: #114a9b;
    z-index: 5;
    display: block;
    overflow: hidden;
    transition: opacity .4s ease;
    opacity: 0;
    pointer-events: none;
}

.faq-answer__title {
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
    display: block;
}

.faq-answer__text {
    color: #a1c4f6;
    display: block;
}
