.general-decor {
    background-color: #e6e6e6;
    position: relative;
    cursor: pointer;
    display: block;
    &:hover {
        .general-decor__title {
            color: #fff;
        }
        .general-decor__plus {
            width: 100%;
            height: 100%;
        }
        .general-decor__text {
            color: #a1c4f6;
        }
    }
}

.general-decor__inner {
    position: relative;
    z-index: 5;
    display: block;
}

.general-decor__title {
    display: block;
    color: $colorLink;
    text-transform: uppercase;
    transition: color .4s ease;
}

.general-decor__text {
    transition: color .4s ease;
}

.general-decor__plus {
    width: 27px;
    height: 27px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 3;
    background-color: $colorLink;
    transition: all .4s ease;
    &::after,
    &::before {
        background-color: #fff;
        position: absolute;
        content: '';
    }
    &::before {
        width: 9px;
        height: 1px;
        right: 8px;
        bottom: 13px;
    }
    &::after {
        width: 1px;
        height: 9px;
        right: 12px;
        bottom: 9px;
    }
}
