.header-info {
    display: flex;
}

.header-contacts {
    padding-top: 38px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1;
    text-align: right;
    position: relative;
}

.header-contacts__phone {
    width: 100%;
    margin-bottom: 5px;
    color: $colorLink;
    text-align: left;
    display: flex;
    align-items: center;
    @include font-size(30px);
}

.header-contacts__icon {
    width: 25px;
    height: 26px;
    margin-top: -5px;
    margin-right: 12px;
    fill: $colorLink;
}

.header-contacts__order {
    color: $grayColor;
    cursor: pointer;
    position: relative;
    display: inline-block;
    @include font-size(20px);
    @include lineDecor($grayLightColor);
}

.header-lang {
    padding-top: 35px;
    display: flex;
    text-transform: uppercase;
    @include font-size(24px);
}

.header-lang__item {
    &:not(.header-lang__active) a {
        color: $grayLightColor;
        @include lineDecor($grayLightColor);
    }
    &:not(:last-of-type) {
        margin-right: 15px;
    }
}

.header-lang__active {
    color: $colorLink;
    cursor: default;
}

.header-logo img {
    max-height: 100%;
}
