.list-graphic__item {
    padding-left: 57px;
    font-size: 18px;
    line-height: 28px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 28px;
    }
}

.list-graphic__icon {
    width: var(--listGraphicIconWidth, 44px);
    height: var(--listGraphicIconHeight, 44px);
    position: absolute;
    top: -6px;
    left: 0;
}

.list-graphic__icon-01 {
    --listGraphicIconWidth: 44px;
    --listGraphicIconHeight: 44px;
    left: 2px;
}

.list-graphic__icon-02 {
    --listGraphicIconWidth: 43px;
    --listGraphicIconHeight: 43px;
}

.list-graphic__icon-03 {
    --listGraphicIconWidth: 42px;
    --listGraphicIconHeight: 42px;
}
