.list-graphic__item {
    padding-left: 57px;
    font-size: 18px;
    position: relative;
}

.list-graphic__icon {
    fill: #1F50A4;
    width: var(--listGraphicIconWidth, 44px);
    height: var(--listGraphicIconHeight, 44px);
    position: absolute;
    left: 0;
}

.list-graphic__icon-01 {
    --listGraphicIconWidth: 44px;
    --listGraphicIconHeight: 44px;
    left: 2px;
}

.list-graphic__icon-02 {
    --listGraphicIconWidth: 43px;
    --listGraphicIconHeight: 43px;
}

.list-graphic__icon-03 {
    --listGraphicIconWidth: 42px;
    --listGraphicIconHeight: 42px;
}

.list-graphic__icon-05 {
    --listGraphicIconWidth: 47px;
    --listGraphicIconHeight: 46px;
}

.list-graphic__icon-06 {
    --listGraphicIconWidth: 42px;
    --listGraphicIconHeight: 42px;
    top: -7px;
}

.list-graphic__icon-07 {
    --listGraphicIconWidth: 50px;
    --listGraphicIconHeight: 50px;
    top: -3px;
}

.list-graphic__icon-08 {
    top: 2px;
}

.list-graphic__icon-09 {
    top: -1px;
}

.list-graphic__icon-10 {
    --listGraphicIconWidth: 47px;
    --listGraphicIconHeight: 47px;
    top: -9px;
}

@media (min-width: 576px) {
    .list-graphic__item {
        line-height: 28px;

        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }
    .list-graphic__icon {
        top: -6px;
    }
}

@media (max-width: 575px) {
    .list-graphic__item {
        line-height: 19px;

        &:not(:last-child) {
            margin-bottom: 19px;
        }
    }
    .list-graphic__icon {
        top: -1px;
    }
}
