.menu-inner {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: relative;
    background-color: #fff;
    transition: all .4s ease;
}

.menu-logo {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.menu {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    width: 100%;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    @include font-size(18px);
}

.menu-link {
    padding: 21px 10px 18px;
    display: block;
    position: relative;
    &::before,
    &::after {
        border: 2px solid #929498;
        position: absolute;
        height: 10px;
        width: 10px;
        transition: all 0.4s ease;
        content: "";
    }
    &::before {
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    &::after {
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
    }
}

.menu-link:hover{
    color: #929498;
    &::before,
    &::after {
        height: 100%;
        width: 100%;
    }
}

.menu-item__active .menu-link {
    &::before,
    &::after {
        height: 100%;
        width: 100%;
    }
}

.isStuck {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    .menu-logo {
        width: 185px;
        height: 95px;
        margin-right: 50px;
        opacity: 1;
        img {
            max-height: 100%;
        }
    }
}
