.menu-link {
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.menu-toggle {
    width: 42px;
    height: 42px;
    position: relative;

    &::before,
    &::after {
        height: 3px;
        right: 4px;
        position: absolute;
        display: block;
        background-color: $colorLink;
        content: "";
    }

    &::before {
        width: 24px;
        top: 15px;
    }

    &::after {
        width: 15px;
        top: 23px;
    }
}

.menu-close {
    width: 45px;
    height: 42px;
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    background-color: $colorLink;

    &::before,
    &::after {
        position: absolute;
        background-color: #fff;
        content: '';
    }

    &::before {
        width: 36px;
        height: 3px;
        top: 20px;
        left: 5px;
        transform: rotate(45deg);
    }

    &::after {
        width: 3px;
        height: 36px;
        top: 4px;
        left: 20px;
        transform: rotate(45deg);
    }
}

@media (min-width: 576px) {
    .menu-toggle,
    .menu-title,
    .menu-close {
        display: none;
    }
    .menu {
        margin-bottom: 107px;
        display: flex;
        justify-content: space-between;
    }
    .menu-link {
        line-height: 24px;
    }
}

@media (max-width: 575px) {
    .menu {
        margin-bottom: 76px;
        padding-bottom: 63px;
        border-bottom: 1px solid #C2C2C2;
    }
    .menu-title {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 47px;
        text-transform: uppercase;
        color: $colorLink;
    }
    .menu-link {
        line-height: 40px;
    }
    .menu-wrap {
        width: 100%;
        height: 100%;
        padding: 60px 16% 10px 22%;
        top: 0;
        right: 0;
        z-index: 25;
        position: fixed;
        background-color: #fff;
        transform: translateX(100%);
        will-change: transform;
        transition: transform .2s ease-in-out;
    }
    .menu-open .menu-wrap {
        transform: translateX(0);
    }
}

@media (max-height: 640px) {
    .menu-wrap {
        padding: 5px 30px 10px 30px;
    }
    .menu {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}
