.news-item {
    padding-bottom: 25px;
    border-bottom: 1px solid #171817;
    display: flex;
    &:not(:last-of-type) {
        margin-bottom: 37px;
    }
}

.news-item__media {
    margin-right: 30px;
    max-width: 230px;
    flex: none;
}

.news-item__content {
    flex: 1;
}

.news-item__title {
    margin-top: -6px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    @include font-size(24px);
}

.news-item__data {
    font-weight: 500;
    color: #A0A0A0;
}

.news-item__chanel {
    font-weight: 500;
    color: $colorOrange;
    @include font-size(14px);
}

.news-item__text {
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: 400;
    color: #E1E1E1;
    @include font-size(18px);
}

.news-item__more {
    text-transform: uppercase;
    font-weight: 500;
    color: #A0A0A0;
    line-height: 1;
    display: flex;
    align-items: center;
    @include font-size(16px);
    &:hover .news-item__more-text {
        color: $colorOrange;
        border-color: $colorOrange;
    }
}

.news-item__more-text {
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
}

.news-item__arrow {
    width: 20px;
    height: 15px;
    margin-left: 6px;
    position: relative;
    .arrow {
        width: 8px;
        height: 12px;
        fill: $colorOrange;
        position: absolute;
        right: 0;
        top: 0;
        &:first-of-type {
            right: 7px;
        }
    }
}
