.pagination {
    height: 50px;
    background-color: #171817;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
}

.pagination-number {
    color: $colorOrange;
    flex: 1;
}

.pagination-prev,
.pagination-next {
    height: 50px;
    width: 113px;
    text-transform: uppercase;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    @include font-size(16px);
    .arrow {
        width: 9px;
        height: 10px;
        transition: all 0.4s ease;
    }
}

.owl-next, .owl-prev {
    &:not(.disabled) {
        .pagination-prev,
        .pagination-next {
            color: $colorOrange;
            background-color: #fff;
            cursor: pointer;
            .arrow {
                fill: $colorOrange;
            }
            &:hover {
                color: #fff;
                background-color: $colorOrange;
                .arrow {
                    fill: #fff;
                }
            }
        }
    }
}

.section-block .disabled {
    .pagination-prev,
    .pagination-next {
        background-color: #222422;
        color: #A0A0A0;
        cursor: default;
        .arrow {
            fill: #A0A0A0;
        }
    }
}

.pagination-prev .arrow {
    margin-right: 16px;
    transform: rotate(180deg);
}

.pagination-next .arrow {
    margin-left: 16px;
}
