.presentation {
    position: relative;
    overflow: hidden;
    .btn-light {
        max-width: 200px;
    }
    .slick-dots {
        bottom: 25px;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
        transition: box-shadow .4s ease;
        &:not(.slick-active):hover {
            box-shadow: 0 0 10px rgba(#fff, .55);
        }
    }
    .presentation-slider {
        margin-bottom: 0;
    }
    
    .title-section {
        max-width: 675px;
        line-height: 1.3;
        color: #fff;
    }
    .slick-slide {
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slick-active {
        background-color: #fff;
    }
}

.presentation-content {
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation-text {
    max-width: 410px;
    margin-bottom: 30px;
}

.presentation-decoration {
    max-width: 1366px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    z-index: 5;
    pointer-events: none;
    transform: translateX(-50%);
}
