.presentation {
    position: relative;
    overflow: hidden;
    .btn-light {
        max-width: 200px;
    }
    .slick-dots {
        bottom: 25px;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
    }
    .presentation-slider {
        margin-bottom: 0;
    }
    
    .title-section {
        max-width: 550px;
        color: #fff;
    }
}

.presentation-content {
    padding: 60px;
    color: #fff;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation-text {
    max-width: 410px;
    margin-bottom: 30px;
}
