.section-report {
    background-color: #D9D9D9;
}

.section-title {
    font-weight: normal;
    text-transform: uppercase;
}

.section-text {
    font-size: 18px;
    line-height: 24px;
}

.section-content .list-graphic__item {
    padding-left: 69px;
    line-height: 24px;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.section-content__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.section-service__list {
    background-color: #B7B7B7;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.section-list__item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 23px;
    }
}

.section-list__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    flex-shrink: 0;
}

.section-service__order {
    background-color: #1F50A4;
}

.section-service__order-label {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}

.section-partners {
    background-color: #F3F3F3;
}

.section-area__all {
    text-align: center;
}

@media (min-width: 576px) {
    .section-area {
        padding-top: 53px;
        padding-bottom: 60px;
    }
    .section-title {
        margin-bottom: 20px;
        font-size: 48px;
        line-height: 63px;
    }
    .section-title__large {
        margin-bottom: 50px;
    }
    .section-inner {
        display: flex;
    }
    .section-content {
        margin-right: 4%;
        max-width: 36%;
        flex-basis: 36%;
    }
    .section-service {
        max-width: 60%;
        flex-basis: 60%;
        padding-top: 13px;
    }
    .section-text {
        margin-bottom: 51px;
    }
    .section-content__title {
        margin-bottom: 49px;
    }
    .section-service__list {
        margin-bottom: 24px;
        padding: 39px 12% 50px 33px;
    }
    .section-list__icon {
        margin-right: 25px;
    }
    .section-service__order {
        padding: 40px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-service__order-label {
        margin-right: 30px;
    }
    .section-service__order-btn {
        min-width: 237px;
    }
    .section-partners {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .section-partners__title {
        margin-bottom: 75px;
    }
}

@media (max-width: 575px) {
    .section-area {
        padding-top: 25px;
        padding-bottom: 36px;
    }
    .section-title {
        margin-bottom: 23px;
        font-size: 26px;
        line-height: 34px;
    }
    .section-title__large {
        margin-bottom: 36px;
    }
    .section-title__decor {
        color: $colorLink;
        display: flex;
        align-items: center;

        &::before {
            width: 38px;
            height: 3px;
            margin-right: 17px;
            margin-left: -15px;
            background-color: $colorLink;
            content: '';
        }
    }
    .section-text {
        margin-bottom: 27px;
    }
    .section-content__title {
        margin-bottom: 25px;
    }
    .section-content {
        margin-bottom: 30px;
    }
    .section-service__list {
        margin-bottom: 28px;
        padding: 28px 19px;
    }
    .section-list__icon {
        margin-right: 31px;
        margin-top: 5px;
    }
    .section-service__order {
        padding: 23px 15px 44px;
        text-align: center;
    }
    .section-service__order-label {
        margin-bottom: 30px;
        line-height: 40px;
    }
    .section-service__order-btn {
        min-width: 75%;
    }
    .section-partners {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .section-partners__title {
        margin-bottom: 47px;
        text-align: center;
    }
}
