.section-block {
    background-size: 100%;
}

.section-title {
    margin-bottom: 0;
    padding-left: 96px;
    line-height: 1;
    position: relative;
    color: $colorOrange;
    &::before {
        width: 68px;
        height: 2px;
        background-color: $colorOrange;
        top: 50%;
        left: 0;
        position: absolute;
        transform: translateY(-50%);
        content: '';
    }
}

.section-title__color {
    color: #fff;
}

.section-block__header {
    margin-bottom: 70px;
    position: relative;
    .arrow {
        width: 27px;
        height: 27px;
        position: absolute;
        top: 5px;
        left: 10px;
        fill: $colorOrange;
        pointer-events: none;
        transform: rotate(180deg);
        + .section-title {
            padding-left: 95px;
            cursor: pointer;
            &::before {
                display: none;
            }
        }
    }
}

.section-block__header-right {
    padding-top: 6px;
    text-align: right;
}
