.service {
    margin-bottom: 100px;
    position: relative;
}

.service-content {
    margin-bottom: 50px;
    @include font-size(24px);
}

.service-second {
    display: flex;
    .package-services {
      fill: $colorLink;
    }
}

.package-services {
    width: 125px;
    height: 142px;
    margin-right: 25px;
    flex: none;
}

.service-second__text {
    flex: 1;
}

.service-list {
    margin-bottom: 0;
    list-style: none;
    display: flex;
}

.service-list__inner {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 3;
        background-color: rgba(#313131, .68);
        pointer-events: none;
        content: '';
    }
    span {
        position: absolute;
        top: 50%;
        left: 30px;
        z-index: 5;
        transform: translateY(-35%);
    }
    &:hover {
        color: #fff;
        span {
            text-decoration: underline;
        }
        .service-list__img {
            transform: scale(1.2);
        }
    }
}

.service-list__img {
    position: relative;
    z-index: 2;
    transition: all 1s ease-out;
}
