header.header
    div.header-info.container
        div.header-top
            div.header-logo
                a(href="index.html")
                    img(src="img/logo.svg", alt="Professional Financial Management")
            a.header-phone(href="tel:+74956496237" rel="nofollow") +7 (915) 828-00-33
            div.menu-toggle
        nav.menu-wrap
            div.menu-title меню
            ul.menu.list-unstyled
                li.menu-item
                    a.menu-link(href="#") бюджет
                li.menu-item
                    a.menu-link(href="#") фин модель
                li.menu-item
                    a.menu-link(href="#") power bi
                li.menu-item
                    a.menu-link(href="cases.html") кейсы
                li.menu-item
                    a.menu-link(href="faq.html") база знаний
                li.menu-item
                    a.menu-link(href="contacts.html") Контакты
            div.menu-close
        div.header-home
            h1.header-home__title
                span.header-home__title-item Professional
                span.header-home__title-item financial
                span.header-home__title-item management
            ul.header-home__list.list-graphic.list-unstyled
                li.list-graphic__item
                    <svg class="list-graphic__icon list-graphic__icon-01">
                        <use xlink:href="/img/sprite.svg#icon-01"></use>
                    </svg> Настраиваем управленческий учет
                li.list-graphic__item
                    <svg class="list-graphic__icon list-graphic__icon-02">
                        <use xlink:href="/img/sprite.svg#icon-02"></use>
                    </svg> Создаем финансовые модели
                li.list-graphic__item
                    <svg class="list-graphic__icon list-graphic__icon-03">
                        <use xlink:href="/img/sprite.svg#icon-03"></use>
                    </svg> Внедряем интерактивные отчеты

