@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
}

@media (max-width: 1439px) {
    .advantages-company {
        margin-right: -20px;
        margin-left: auto;
    }
}

@media (max-width: 1099px) {
    .decoration {
        display: none;
    }
    
    /* ******************* */
    
    .about-company {
        background-size: contain;
    }
    .advantages-company {
        display: flex;
        align-items: center;
    }
    .advantages-company__list {
        padding-right: 20px;
        padding-left: 20px;
    }
    .advantages-company__item {
        max-width: 50%;
    }
    
    /* ******************* */
    
    .service-second {
        flex-direction: column;
        align-items: center;
        svg {
            margin-bottom: 20px;
        }
    }
    
    /* ******************* */
    
    .service-list li,
    .case-item,
    .faq-item {
        margin-bottom: 20px;
    }
    
    /* ******************* */
    
    .faq-pre-title {
        margin-bottom: 25px;
    }
}

//*********************************

@media (min-width: 1440px) {
    .menu-item {
        max-width: 15%;
    }
}

@media (min-width: 1100px) {
    .presentation-content {
        padding-left: 60px;
    }
    
    /* ******************* */
    
    .advantages-company {
        padding: 130px 20px 0;
    }
    
    /* ******************* */
    
    .home .service-second {
        padding-right: 145px;
    }
    
    /* ******************* */
    
    .case .title-section {
        margin-bottom: 155px;
    }
    
    /* ******************* */
    
    .faq-pre-title {
        margin-bottom: 75px;
    }
    
    /* ******************* */
    
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    
    /* ******************* */
    
    .presentation-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

//*********************************

@media (min-width: 1100px) and (max-width: 1439px) {
    .isStuck .menu-item {
        max-width: 18%;
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .header-logo {
        width: 216px;
    }
    .menu-item {
        max-width: 19%;
    }
    .isStuck {
        .menu {
            align-items: center;
            justify-content: space-between;
        }
        .menu-item {
            max-width: none;
            flex: 0;
        }
        .menu-logo {
            width: 150px;
            margin-right: 20px;
        }
        .menu-link {
            padding: 14px 10px 13px;
        }
        .menu-link::before,
        .menu-link::after {
            display: none;
        }
    }
    
    /* ******************* */
    
    .presentation-content {
        padding-left: 20px;
    }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (max-height: 1024px) {
}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}
