@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
}

@media (min-width: 1440px) {
    .menu-item {
        max-width: 15%;
    }
}

@media (min-width: 1100px) {
    .presentation-content {
        padding-left: 60px;
    }
    
    /* ******************* */
    
    .advantages-company {
        padding: 130px 20px 0;
    }
    
    /* ******************* */
    
    .home .service-second {
        padding-top: 30px;
        padding-right: 145px;
    }
    
    .service-second__text {
        padding-top: 30px;
    }
    
    /* ******************* */
    
    .case .title-section {
        margin-bottom: 155px;
    }
    
    /* ******************* */
    
    .faq-pre-title {
        margin-bottom: 75px;
    }
    
    /* ******************* */
    
    .contacts-support {
        padding-left: 115px;
        padding-right: 115px;
    }
    
    /* ******************* */
    
    .case-page__text {
        padding-right: 55px;
    }
}

@media (min-width: 768px) {
    .list-half {
        line-height: 1.2;
        display: flex;
        flex-wrap: wrap;
        li {
            padding-right: 10px;
            width: 50%;
            flex: none;
        }
    }
    
    .header {
        margin-bottom: 30px;
    }
    
    .header-logo {
        width: 316px;
    }
    
    /* ******************* */
    
    .menu-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu-toggle {
        display: none;
    }
    .menu-wrap {
        min-height: 96px;
        .container {
            display: flex;
        }
    }
    
    /* ******************* */
    
    .presentation-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    /* ******************* */
    
    .contacts-support {
        min-height: 365px;
    }
    
    /* ******************* */
    
    .header-contacts__email {
        display: none;
    }
    
    /* ******************* */
    
    .menu-close {
        display: none;
    }
    
    .about-company {
        width: 39%;
        min-height: 600px;
        background: url(../img/bg/bg-about.png) no-repeat 90% 100%;
    }
    
    /* ******************* */
    
    .why-us-img {
        width: 49%;
        margin-bottom: 30px;
        margin-right: 20px;
        float: left;
    }
    
    .case-page__left {
        width: 25%;
        .package-services {
            margin: 0 auto;
        }
    }
    
    .faq-answer {
        padding: 35px;
        bottom: 0;
        right: 0;
        position: absolute;
    }
}

@media (min-width: 576px) {
    .footer-social {
        margin: 0 auto;
        display: flex;
        align-items: center;
        align-self: flex-start;
    }
    .footer-social__list {
        margin-left: 20px;
    }
}

//*********************************

@media (max-width: 1439px) {
    .advantages-company {
        margin-right: -20px;
        margin-left: auto;
    }
}

@media (max-width: 1099px) {
    .well {
        margin-bottom: 20px;
        @include clearfix;
    }
    
    .decoration {
        display: none;
    }
    
    /* ******************* */
    
    .about-company {
        background-size: contain;
    }
    .advantages-company {
        display: flex;
        align-items: center;
    }
    .advantages-company__list {
        padding-right: 20px;
        padding-left: 20px;
    }
    .advantages-company__item {
        max-width: 50%;
    }
    
    /* ******************* */
    
    .service-second {
        flex-direction: column;
        align-items: center;
        svg {
            margin-bottom: 20px;
        }
    }
    
    /* ******************* */
    
    .service-list li,
    .case-item,
    .faq-item {
        margin-bottom: 20px;
    }
    
    /* ******************* */
    
    .faq-pre-title {
        margin-bottom: 25px;
    }
    
    /* ******************* */
    
    .contacts-support {
        padding: 20px;
    }
    .contacts-address {
        padding-left: 55px;
        .location {
            left: -10px;
        }
    }
    
    /* ******************* */
    
}

@media (max-width: 767px) {
    .header-contacts,
    .header-lang,
    .menu,
    .menu-logo,
    .presentation,
    .advantages-company,
    .service-content__text,
    .service-second {
        display: none;
    }
    
    .header-logo {
        width: 215px;
    }
    
    .menu-toggle {
        margin-top: 31px;
        padding: 20px 0;
        &::before {
            width: 30px;
            height: 3px;
            background-color: $colorLink;
            box-shadow: 0 10px 0 #124b9b, 0 -10px 0 #124b9b;
            display: block;
            content: '';
        }
    }
    .menu-wrap {
        position: absolute;
        top: 4px;
        right: 0;
    }
    .menu {
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 120px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #114a9b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    .menu-item {
        max-width: 250px;
    }
    .menu-link {
        padding: 12px 10px 12px;
        color: #fff;
        @include font-size(25px);
        &::before {
            border-top-color: #ffffff;
            border-left-color: #ffffff;
        }
        &::after {
            border-bottom-color: #ffffff;
            border-right-color: #ffffff;
        }
    }
    
    .menu-close {
        width: 34px;
        height: 34px;
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 0;
        cursor: pointer;
        border: 0;
        line-height: 1;
        text-decoration: none;
        -webkit-appearance: none;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        &::before,
        &::after {
            width: 34px;
            height: 2px;
            top: 15px;
            left: 0;
            position: absolute;
            background-color: #fff;
            content: '';
            transition: background-color 0.3s ease;
        }
        &::before {
            transform: rotate(47deg);
        }
        &::after {
            transform: rotate(-47deg);
        }
    }
    
    .header {
        .header-contacts {
            padding-top: 0;
            padding-bottom: 20px;
            text-align: center;
            display: block;
            z-index: 100;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            a {
                color: #fff;
            }
        }
        .header-contacts__phone {
            margin-bottom: 20px;
            justify-content: center;
        }
    }
    .header .header-contacts__order {
        display: none;
    }
    .header-contacts {
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    .header-contacts__icon {
        display: none;
    }
    
    .stuckMenu {
        padding: 10px 0;
        .container {
            display: flex;
        }
        .menu-logo {
            display: block;
        }
        .menu-toggle {
            margin-top: 15px;
            margin-left: auto;
        }
    }
    .menu-open {
        .menu-close,
        .menu,
        .header-contacts {
            transform: translateX(0);
        }
    }
    
    .about-company {
        margin: 0 -20px;
        padding: 100px 20px;
        color: #fff;
        background: url(../img/bg/bg-about-xs.jpg) no-repeat top center;
        background-size: cover;
        .title-section {
            color: #fff;
        }
        .btn-default {
            color: #ffffff;
            background-color: transparent;
            border-color: #fff;
        }
    }
    .about-company__text {
        margin-bottom: 50px;
    }
    
    .footer-social {
        margin-right: 0;
    }
    
    .why-us-img {
        margin-bottom: 20px;
    }
    
    .case-page__intro {
        padding-right: 20px;
        padding-left: 20px;
        position: relative;
        flex-direction: column;
    }
    .case-page__title {
        top: 85px;
        left: 180px;
        padding-right: 20px;
        position: absolute;
    }
    .case-page__left {
        margin-bottom: 20px;
    }
    
    .faq-answer {
        height: 0;
    }
    .faq-answer__title {
        margin-top: 15px;
    }
    .faq-item {
        flex-direction: column;
        height: auto;
        padding: 20px;
        .general-decor__title {
            text-align: center;
        }
        &:hover {
            .faq-answer {
                height: 100%;
            }
        }
    }
}

@media (max-width: 575px) {
    .contacts-form {
        margin-bottom: 30px;
    }
    .contacts-support {
        margin: 0 -20px;
    }
    
    .footer-social {
        margin-left: auto;
    }
}

@media (max-width: 374px) {
    .header-logo {
        width: 180px;
    }
    
    .footer-logo {
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    .footer-social {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

//*********************************

@media (min-width: 1100px) and (max-width: 1439px) {
    .isStuck .menu-item {
        max-width: 18%;
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .header-logo {
        width: 216px;
    }
    .menu-item {
        max-width: 19%;
    }
    .isStuck {
        .menu {
            align-items: center;
            justify-content: space-between;
        }
        .menu-item {
            max-width: none;
            flex: 0;
        }
        .menu-logo {
            width: 150px;
            margin-right: 20px;
        }
        .menu-link {
            padding: 14px 10px 13px;
        }
        .menu-link::before,
        .menu-link::after {
            display: none;
        }
    }
    
    /* ******************* */
    
    .presentation-content {
        padding-left: 20px;
    }
    
    /* ******************* */
    
    footer .header-contacts__phone {
        @include font-size(25px);
    }
    
    /* ******************* */
    
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (max-height: 1024px) {
}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}
