@import "tools/mixin";
@import "tools/variables";
@import 'general/fonts';

/* Bootstrap Reboot v5.1.3 */
@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";
@import "vendors/bootstrap/root";
@import "vendors/bootstrap/reboot";

@import 'general/btn';
@import "general/global";
@import "section/header";
@import "section/menu";
@import "section/main";


/*
@import 'utils/form';
@import 'utils/custom-control';
@import "common/footer";
@import "blocks/menu";
@import "blocks/list";
@import "blocks/partners-carousel";
@import "blocks/section";
@import "blocks/case";
@import "blocks/teaching";
@import "blocks/contacts";
@import "blocks/breadcrumbs";
@import "blocks/service";

.page-bar {
    margin-bottom: 32px;
}

.case-page__intro {
    margin-bottom: 35px;
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    background-color: $colorLink;
}


.case-page__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.case-page__h2 {
    color: $colorLink;
    font-size: 20px;
}

.case-page__gray {
    padding: 25px;
    background-color: #e6e6e6;
}

.case-page__intro {
    margin-bottom: 35px;
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    background-color: $colorLink;
}

.case-page__left {
    flex: none;
    display: flex;
}

.case-page__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.case-page__text {
    line-height: 1.2;
    color: #a1c4f6;
    flex: 1;
}

.case-page__h2 {
    color: $colorLink;
    font-size: 20px;
}

.case-page__gray {
    padding: 25px;
    background-color: #e6e6e6;
}

@media (min-width: 1100px) {
    .case-page__text {
        padding-right: 55px;
    }
}

@media (min-width: 768px) {
    .case-page__left {
        width: 25%;

        .package-services {
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    .case-page__intro {
        padding-right: 20px;
        padding-left: 20px;
        position: relative;
        flex-direction: column;
    }
    .case-page__title {
        top: 85px;
        left: 180px;
        padding-right: 20px;
        position: absolute;
    }
    .case-page__left {
        margin-bottom: 20px;
    }
}

.faq-page__item {
    margin-bottom: 32px;
}

.faq-page__title {
    font-weight: 700;
    font-size: 24px;
}

.faq-page__answer {
    font-style: italic;
    font-weight: 700;
}

@media (min-width: 576px) {
    .show-xs {
        display: none
    }
}
*/
