@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/form";
@import "common/btn";
/* blocks */
@import "blocks/header";
@import "blocks/menu";
@import "blocks/presentation";
@import "blocks/decoration";
@import "blocks/company";
@import "blocks/service";
@import "blocks/general-decor";
@import "blocks/case";
@import "blocks/faq";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/breadcrumbs";
@import "blocks/help-following";

.map {
  height: 240px;
  z-index: 1;
}

.page-bar {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background-color: $colorLink;
  h1, .h1 {
    margin-bottom: 0;
  }
}

.well {
  padding: 20px 40px;
  background-color: #e6e6e6;
  overflow: hidden;
}

.page-content {
  margin-bottom: 100px;
}
