@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/form";
@import "common/btn";
/* blocks */
@import "blocks/header";
@import "blocks/menu";
@import "blocks/presentation";
@import "blocks/decoration";
@import "blocks/company";
@import "blocks/service";
@import "blocks/general-decor";
@import "blocks/case";
@import "blocks/faq";
@import "blocks/home-contacts";
@import "blocks/footer";
@import "blocks/breadcrumbs";
@import "blocks/help-following";

.map {
  height: 240px;
  z-index: 1;
}

.page-bar {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background-color: $colorLink;
  h1, .h1 {
    margin-bottom: 0;
  }
}

.well {
  padding: 20px 40px;
  background-color: #e6e6e6;
}

.page-content {
  margin-bottom: 100px;
}

.case-page__intro {
  margin-bottom: 35px;
  padding-top: 25px;
  padding-bottom: 30px;
  display: flex;
  background-color: $colorLink;
}

.case-page__left {
  width: 25%;
  flex: none;
  display: flex;
  .package-services {
    margin: 0 auto;
    fill: #fff;
    stroke: #fff;
  }
}

.case-page__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  @include font-size(20px);
}

.case-page__text {
  padding-right: 55px;
  line-height: 1.2;
  color: #a1c4f6;
  flex: 1;
}

.case-page__h2 {
  color: $colorLink;
  @include font-size(20px);
}

.case-page__gray {
  padding: 25px;
  background-color: #e6e6e6;
}
