<footer class="footer container">
  <div class="footer__services">
    <div class="footer__services-title">Услуги</div>

    <ul class="footer__services-list list-unstyled">
      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Глубокий анализ реализуемости проекта</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Поиск гостиничного оператора</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Операционный аудит</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Брокерские услуги</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Внедрение USALI</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Технический аудит</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Автоматизация управленческого учета в&nbsp;гостинице</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Поиск топ-менеджмента</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Проектирование и&nbsp;дизайн</a>
      </li>
    </ul>
  </div>

  <div class="footer__info">
    <a class="footer__info-logo" href="index.html">
      <img src="/assets/img/logo.svg" alt="Professional Financial Management">
    </a>
    <div class="footer__info-copy">
      © 2022. Все права сохранены.
    </div>
  </div>

  <ul class="footer__nav list-unstyled">
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">О нас</a>
    </li>
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">Команда</a>
    </li>
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">База знаний</a>
    </li>
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">Контакты</a>
    </li>
  </ul>

  <div class="footer__contacts">
    <a class="footer__contacts-email" href="mailto:info@pfmpartners.com" rel="nofollow">info@pfmpartners.com</a>
    <a class="footer__contacts-phone" href="tel:+7 (915) 828-00-33" rel="nofollow">+7 (915) 828-00-33</a>
  </div>
</footer>
