<footer class="footer container">
    <a href="index.html" class="footer-logo"><img src="img/logo.svg" alt="Professional Financial Management"></a>

    <div class="footer-copy">
        © PFM Все права защищены
    </div>

    <a href="tel:+79158280033" class="footer-phone" rel="nofollow">+7 (915) 828-00-33</a>
</footer>
