<footer class="footer container">
  <div class="footer__services">
    <div class="footer__services-title">Услуги</div>

    <ul class="footer__services-list list-unstyled">
      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Глубокий анализ реализуемости проекта</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Поиск гостиничного оператора</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Операционный аудит</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Брокерские услуги</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Внедрение USALI</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Технический аудит</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Автоматизация управленческого учета в&nbsp;гостинице</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Поиск топ-менеджмента</a>
      </li>

      <li class="footer__services-item">
        <a class="footer__services-link" href="#">Проектирование и&nbsp;дизайн</a>
      </li>
    </ul>
  </div>

  <div class="footer__info">
    <a class="footer__info-logo" href="index.html">
      <img src="/assets/img/logo.svg" alt="Professional Financial Management">
    </a>
    <div class="footer__info-copy">
      © 2022. Все права сохранены.
    </div>
  </div>

  <ul class="footer__nav list-unstyled">
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">О нас</a>
    </li>
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">Команда</a>
    </li>
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">База знаний</a>
    </li>
    <li class="footer__nav-item">
      <a href="#" class="footer__nav-link">Контакты</a>
    </li>
  </ul>

  <div class="footer__contacts">
    <a class="footer__contacts-email" href="mailto:info@pfmpartners.com" rel="nofollow">info@pfmpartners.com</a>
    <a class="footer__contacts-phone" href="tel:+7 (915) 828-00-33" rel="nofollow">+7 (915) 828-00-33</a>
  </div>
</footer>


<div class="hystmodal hystmodal--simple" id="modalSimple" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window hystmodal__window--form" role="dialog" aria-modal="true">
      <form action="/">
        <div class="form__group">
          <label class="form__label" for="form__phone">Ваш телефон</label>
          <input type="tel" class="form__filed form__filed--gray js-phone" id="form__phone" placeholder="+ 7 (___) ___-__-__">
        </div>

        <div class="form__group main__connection-agree">
          Нажимая на&nbsp;кнопку вы&nbsp;даете согласие на&nbsp;обработку персональных данных
        </div>

        <button class="main__connection-btn btn__primary btn">
          Отправить
          <svg class="btn__primary-icon">
            <use xlink:href="/assets/img/icons.svg#arrow"></use>
          </svg>
        </button>
      </form>

      <div class="modal__final">
        <h4 class="modal__final-title">Благодарим за доверие!</h4>

        <div class="modal__final-text">
          Наши специалисты <br>
          с вами свяжутся
        </div>
      </div>

      <button class="hystmodal__close" data-hystclose>Закрыть</button>
    </div>
  </div>
</div>
