<header class="header">
    <div class="header-info container">
        <div class="header-top">
            <div class="header-logo">
                <a href="index.html"><img src="img/logo.svg" alt="Professional Financial Management"></a>
            </div>
            <a class="header-phone" href="tel:+74956496237" rel="nofollow">+7 (915) 828-00-33</a>
            <div class="menu-toggle"></div>
        </div>

        <nav class="menu-wrap">
            <div class="menu-title">меню</div>
            <ul class="menu list-unstyled">
                <li class="menu-item"><a class="menu-link" href="#">бюджет</a></li>
                <li class="menu-item"><a class="menu-link" href="#">фин модель</a></li>
                <li class="menu-item"><a class="menu-link" href="#">power bi</a></li>
                <li class="menu-item"><a class="menu-link" href="#">кейсы</a></li>
                <li class="menu-item"><a class="menu-link" href="#">база знаний</a></li>
                <li class="menu-item"><a class="menu-link" href="#">Контакты</a></li>
            </ul>
            <div class="menu-close"></div>
        </nav>

        <div class="header-home">
            <h1 class="header-home__title">
                <span class="header-home__title-item">Professional</span>
                <span class="header-home__title-item">financial</span>
                <span class="header-home__title-item">management</span>
            </h1>

            <ul class="header-home__list list-graphic list-unstyled">
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-01">
                        <use xlink:href="/img/sprite.svg#icon-01"></use>
                    </svg>
                    Настраиваем управленческий учет
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-02">
                        <use xlink:href="/img/sprite.svg#icon-02"></use>
                    </svg>
                    Создаем финансовые модели
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-03">
                        <use xlink:href="/img/sprite.svg#icon-03"></use>
                    </svg>
                    Внедряем интерактивные отчеты
                </li>
            </ul>
        </div>
    </div>
</header>
