<header class="header">
  <div class="header__info container">
    <a class="header__logo" href="index.html">
      <img src="/assets/img/logo.svg" alt="Professional Financial Management">
    </a>

    <div class="header__toggle js-header__toggle"></div>

    <nav class="header__nav">
      <ul class="menu list-unstyled">
        <li class="menu__item">
          <a class="menu__link" href="#">О нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/services.html">Услуги</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Команда</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">База знаний</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
      </ul>

      <div class="header__contacts">
        <a class="header__contacts-phone" href="https://api.whatsapp.com/send?phone=+74956496237" rel="nofollow" target="_blank">
          +7 (915) 828-00-33
        </a>
        <a class="header__contacts-email" href="mailto:info@pfmpartners.com" rel="nofollow">info@pfmpartners.com</a>
      </div>
    </nav>
  </div>
</header>
