<header class="header">
    <div class="header-info container">
        <div class="header-top">
            <div class="header-logo">
                <a href="index.html"><img src="img/logo.svg" alt="Professional Financial Management"></a>
            </div>

            <a class="header-phone" href="tel:+74956496237" rel="nofollow">+7 (915) 828-00-33</a>

            <div class="menu-toggle"></div>
        </div>

        <nav class="menu-wrap">
            <div class="menu-title">меню</div>

            <ul class="menu list-unstyled">
                <li class="menu-item">
                    <a class="menu-link js__go-anchor" href="/#budget">Бюджет</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link js__go-anchor" href="/#model">Фин модель</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link js__go-anchor" href="/#power">Power bi</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link js__go-anchor" href="/#case">Кейсы</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link js__go-anchor" href="/#teaching">База знаний</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link js__go-anchor" href="/#contacts">Контакты</a>
                </li>
            </ul>

            <div class="menu-close"></div>
        </nav>
    </div>
</header>

<nav class="breadcrumbs container">
    <ul class="breadcrumbs-list list-unstyled">
        <li class="breadcrumb-item">
            <a href="/" class="breadcrumb-link">Главная</a>
        </li>
        <li class="breadcrumb-item">Кейсы</li>
    </ul>
</nav>
