<header class="main__header">
  <div class="main__header-inner container">
    <h1 class="main__header-title">
      Профессиональный консалтинг
      в&nbsp;сфере&nbsp;гостиниц
    </h1>

    <ul class="main__header-list list-unstyled">
      <li class="main__header-item">
        Рассчитаем доходность<br>
        будущей гостиницы
      </li>
      <li class="main__header-item">
        Внедрим мировые<br>
        стандарты отчётности
      </li>
      <li class="main__header-item">
        Увеличим стоимость<br>
        вашего бизнеса
      </li>
      <li class="main__header-item">
        Продадим вашу гостиницу<br>
        по лучшей цене
      </li>
    </ul>

    <button type="button" class="main__header-button btn__primary btn" data-hystmodal="#feedback">
      Получить консультацию
      <svg class="btn__primary-icon">
        <use xlink:href="/assets/img/icons.svg#arrow"></use>
      </svg>
    </button>
  </div>
</header>
