<div class="main__services-list" id="js-main__services">
  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Глубокий анализ реализуемости проекта
      </h5>
      <div class="main__services-text">
        Принимайте взвешенные инвестиционные решения
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Поиск гостиничного оператора
      </h5>
      <div class="main__services-text">
        Передайте операционку профессионалам
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Операционный аудит
      </h5>
      <div class="main__services-text">
        Обеспечьте максимальную отдачу от своей гостиницы
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Технический аудит
      </h5>
      <div class="main__services-text">
        Узнайте состояние здания, оборудования и мебели в гостинице
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Автоматизация управленческого учета в гостинице
      </h5>
      <div class="main__services-text">
        Сосредоточьтесь на анализе результатов, а не на бесконечном ожидании отчетов
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Поиск топ-менеджмента
      </h5>
      <div class="main__services-text">
        Найдите лучших сотрудников в свою гостиницу
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Брокерские услуги
      </h5>
      <div class="main__services-text">
        Продайте гостиницу по лучшей цене
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Внедрение USALI
      </h5>
      <div class="main__services-text">
        Используйте лучшие в мире стандарты отчетности для гостиниц
      </div>
    </a>
  </div>

  <div class="main__services-item">
    <a class="main__services-wrap" href="services.html">
      <h5 class="main__services-title">
        Проектирование и дизайн
      </h5>
      <div class="main__services-text">
        Спроектируйте гостиницу, которая будет привлекать гостей
      </div>
    </a>
  </div>
</div>
