<section class="page__contacts">
  <div class="container">
    <h2 class="main__title">Свяжитесь с нами</h2>

    <p class="page__contacts-text">
      Наша команда готова помочь вам разработать и&nbsp;реализовать стратегии
      для&nbsp;максимизации эффективности ваших инвестиций.<br>
      Свяжитесь с&nbsp;нами, чтобы узнать больше о&nbsp;том, как мы&nbsp;можем помочь вам.
    </p>

    <ul class="page__contacts-list main__contacts-list list-unstyled">
      <li class="main__contacts-item">
        <svg class="page__contacts-icon main__contacts-icon">
          <use xlink:href="/assets/img/icons.svg#phone"></use>
        </svg>
        <div>Телефон</div>
        <a class="main__contacts-link" href="tel:+7 (915) 828-00-33" rel="nofollow">+7 (915) 828-00-33</a>
      </li>

      <li class="main__contacts-item">
        <svg class="page__contacts-icon main__contacts-icon">
          <use xlink:href="/assets/img/icons.svg#email"></use>
        </svg>
        <div>e-mail</div>
        <a class="main__contacts-link" href="mailto:info@pfmpartners.com" rel="nofollow">info@pfmpartners.com</a>
      </li>
    </ul>
  </div>
</section>
