<section class="case container">
    <h2 class="title-section">Кейсы</h2>

    <ul class="case-list row">
        <li class="col-md-3 col-sm-6">
            <a href="#" class="case-item general-decor">
                <span class="general-decor__inner">
                    <span class="general-decor__title">Кейс #1</span>
                    <span class="case-text general-decor__text">Группа компаний ведет очень подробный...</span>
                </span>
                <span class="general-decor__plus"></span>
            </a>
        </li>
        <li class="col-md-3 col-sm-6">
            <a href="#" class="case-item general-decor">
                <span class="general-decor__inner">
                    <span class="general-decor__title">Кейс #2</span>
                    <span class="case-text general-decor__text">У акционеров появилась необходимость...</span>
                </span>
                <span class="general-decor__plus"></span>
            </a>
        </li>
        <li class="col-md-3 col-sm-6">
            <a href="#" class="case-item general-decor">
                <span class="general-decor__inner">
                    <span class="general-decor__title">Кейс #3</span>
                    <span class="case-text general-decor__text">Клиент решил продать непрофильный бизнес...</span>
                </span>
                <span class="general-decor__plus"></span>
            </a>
        </li>
        <li class="col-md-3 col-sm-6">
            <a href="#" class="case-item general-decor">
                <span class="general-decor__inner">
                    <span class="general-decor__title">Кейс #4</span>
                    <span class="case-text general-decor__text">Инновационному стартапу требовалось организовать...</span>
                </span>
                <span class="general-decor__plus"></span>
            </a>
        </li>
    </ul>

    <div class="see-all"><a href="cases.html" class="btn btn-default">смотреть все кейсы</a></div>

    <div class="decoration">
        <span class="decoration-number decoration-04">04</span>
    </div>
</section>
