<section class="company container">
    <div class="about-company">
        <h2 class="title-section">о пфм</h2>
        <div class="about-company__text">
            ПФМ – полнофункциональная Фирма, обеспечивающая все аспекты финансового подразделения Вашей компании.
        </div>
        <a href="#" class="btn btn-default">узнать больше</a>
    </div>
    <div class="advantages-company">
        <ul class="advantages-company__list list-unstyled">
            <li class="advantages-company__item">
                <svg class="advantages-company__specialists">
                    <use xlink:href="img/sprite.svg#specialists"></use>
                </svg>
                <div>
                    Сертифицированные специалисты
                </div>
            </li>
            <li class="advantages-company__item">
                <svg class="advantages-company__audit">
                    <use xlink:href="img/sprite.svg#audit"></use>
                </svg>
                <div>
                    Компетенции в области аудита, бухгалтерского и управленческого учета
                </div>
            </li>
            <li class="advantages-company__item">
                <svg class="advantages-company__experience">
                    <use xlink:href="img/sprite.svg#an-experience"></use>
                </svg>
                <div>
                    Опыт в организации всех этапов проектного финансирования
                </div>
            </li>
            <li class="advantages-company__item">
                <svg class="advantages-company__finance">
                    <use xlink:href="img/sprite.svg#finance-department"></use>
                </svg>
                <div>
                    Ваш финансовый департамент на аутсорсинге
                </div>
            </li>
        </ul>
    </div>

    <div class="decoration">
        <span class="decoration-number decoration-02">02</span>
    </div>
</section>
