<section class="faq container">
    <h2 class="title-section">faq</h2>
    <div class="faq-pre-title">Часто задаваемы вопросы</div>

    <ul class="faq-list row">
        <li class="col-md-6">
            <a href="#" class="faq-item general-decor">
                <span class="general-decor__inner">
                    <span class="general-decor__title">В чем суть ваших услуг?</span>
                </span>
                <span class="faq-answer">
                    <span class="faq-answer__title">Ответ</span>
                    <span class="faq-answer__text">
                        В основном мы выступаем внешним финансовым отделом, масштабируемым по потребностям Заказчика. Мы оказываем весь перечень услуг финансового подразделения компании от рутинных (например, ведение бухгалтерии) до стратегических (создание стратегии роста и ее защиты у кредитора). Иными словами, финансовое подразделение вашей компании на аутсорсинге
                    </span>
                </span>
                <span class="general-decor__plus"></span>
            </a>
        </li>
        <li class="col-md-6">
            <a href="#" class="faq-item general-decor">
                <span class="general-decor__inner">
                    <span class="general-decor__title">В чем преимущества аутсорсинга?</span>
                </span>
                <span class="faq-answer">
                    <span class="faq-answer__title">Ответ</span>
                    <span class="faq-answer__text">
                        В основном мы выступаем внешним финансовым отделом, масштабируемым по потребностям Заказчика. Мы оказываем весь перечень услуг финансового подразделения компании от рутинных (например, ведение бухгалтерии) до стратегических (создание стратегии роста и ее защиты у кредитора). Иными словами, финансовое подразделение вашей компании на аутсорсинге
                    </span>
                </span>
                <span class="general-decor__plus"></span>
            </a>
        </li>
    </ul>

    <div class="see-all"><a href="#" class="btn btn-default">смотреть все</a></div>

    <div class="decoration">
        <span class="decoration-number decoration-05">05</span>
    </div>
</section>
