<section class="faq container">
    <h2 class="title-section">faq</h2>
    <div class="faq-pre-title">Часто задаваемы вопросы</div>

    <ul class="faq-list row">
        <li class="col-md-6">
            <div class="faq-item general-decor">
                <div class="general-decor__inner">
                    <div class="general-decor__title">В чем суть ваших услуг?</div>
                </div>
                <div class="faq-answer">
                    <div class="faq-answer__title">Ответ</div>
                    <div class="faq-answer__text">
                        В основном мы выступаем внешним финансовым отделом, масштабируемым по потребностям Заказчика. Мы оказываем весь перечень услуг финансового подразделения компании от рутинных (например, ведение бухгалтерии) до стратегических (создание стратегии роста и ее защиты у кредитора). Иными словами, финансовое подразделение вашей компании на аутсорсинге
                    </div>
                </div>
                <div class="general-decor__plus"></div>
            </div>
        </li>
        <li class="col-md-6">
            <div class="faq-item general-decor">
                <div class="general-decor__inner">
                    <div class="general-decor__title">В чем преимущества аутсорсинга?</div>
                </div>
                <div class="faq-answer">
                    <div class="faq-answer__title">Ответ</div>
                    <div class="faq-answer__text">
                        В основном мы выступаем внешним финансовым отделом, масштабируемым по потребностям Заказчика. Мы оказываем весь перечень услуг финансового подразделения компании от рутинных (например, ведение бухгалтерии) до стратегических (создание стратегии роста и ее защиты у кредитора). Иными словами, финансовое подразделение вашей компании на аутсорсинге
                    </div>
                </div>
                <div class="general-decor__plus"></div>
            </div>
        </li>
    </ul>

    <div class="see-all"><a href="faq.html" class="btn btn-default">смотреть все</a></div>

    <div class="decoration">
        <span class="decoration-number decoration-05">05</span>
    </div>
</section>
