<header class="header">
    <div class="header-info container">
        <div class="header-logo">
            <a href="#"><img src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Professional Financial Management"></a>
        </div>
        <div class="header-contacts">
            <a href="#" rel="nofollow" class="header-contacts__phone">
                <svg class="header-contacts__icon">
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                +7 (495) 567-45-78</a>
            <span class="header-contacts__order" data-toggle="modal" data-target="#myModal">Заказать звонок</span>
        </div>
        <ul class="header-lang list-unstyled">
            <li class="header-lang__item header-lang__active"><a href="#" rel="nofollow">RU</a></li>
            <li class="header-lang__item"><a href="#" rel="nofollow">ENG</a></li>
        </ul>
    </div>

    <nav class="menu-wrap">
        <div class="menu-inner">
            <div class="container">
                <a href="#" class="menu-logo"><img src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Professional Financial Management"></a>

                <div class="menu-toggle">Меню сайта</div>

                <ul class="menu list-unstyled">
                    <li class="menu-item">
                        <a href="#" class="menu-link">Почему мы</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Услуги</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Кейсы</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">FAQ</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Контакы</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
