<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">заказать звонок</h4>

            <form action="" class="modal-order">
                <div class="ui-group">
                    <input type="text" class="ui-placeholder ui-field" placeholder="Телефон">
                </div>
                <button class="btn btn-default">Отправить</button>
            </form>
        </div>
    </div>
</div>
