<div class="presentation">
    <div class="presentation-slider">
        <div class="slick-slide" style="background-image: url(img/slider/management-accounting.jpg)">
            <div class="presentation-content container">
                <h2 class="title-section">Управленческий учет</h2>
                <div class="presentation-text">
                    Если бухгалтерский учет – это по сути представление финансовой информации об организации внешним
                    пользователям...
                </div>
                <a href="management-accounting.html" class="btn btn-light">Подробнее</a>
            </div>
        </div>
        <div class="slick-slide" style="background-image: url(img/slider/audit.jpg)">
            <div class="presentation-content container">
                <h2 class="title-section">Аудит и заверения РСБУ, МСФО, USALI</h2>
                <div class="presentation-text">
                    Бухгалтерский учет – главный источник данных о финансах любой организации. И если в нем беспорядок,
                    вполне вероятно...
                </div>
                <a href="audit.html" class="btn btn-light">Подробнее</a>
            </div>
        </div>
        <div class="slick-slide" style="background-image: url(img/slider/strategic-consulting.jpg)">
            <div class="presentation-content container">
                <h2 class="title-section">стратегический консалтинг</h2>
                <div class="presentation-text">
                    Вы хотите добиться существенного роста положительного денежного потока от своего бизнеса?
                </div>
                <a href="strategic-consulting.html" class="btn btn-light">Подробнее</a>
            </div>
        </div>
        <div class="slick-slide" style="background-image: url(img/slider/bookkeeping.jpg)">
            <div class="presentation-content container">
                <h2 class="title-section">Бухгалтерский учет, внутренний аудит, налоговое планирование</h2>
                <div class="presentation-text">
                    Бухгалтерский учет – главный источник данных о финансах любой организации.
                </div>
                <a href="#" class="btn btn-light">Подробнее</a>
            </div>
        </div>
    </div>

    <div class="presentation-decoration">
        <div class="decoration decoration-white">
            <span class="decoration-number decoration-01">01</span>
        </div>
    </div>
</div>
