@import "variables";
@import "mixin";

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    margin: 0;
    text-align: left;
    line-height: 1.4;
    color: #393939;
    background-color: #fff;
    font-family: 'Sylfaen', -apple-system, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    @include font-size(20px);
}

a, .as-link {
    color: $colorLink;
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
        color: #3260a4;
    }
}

.as-link {
    cursor: pointer;
}

img {
    max-width: 100%;
}

b, strong {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    font-family: inherit;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

h1, .h1 {
    margin-bottom: 70px;
    @include font-size(45px);
}

h2, .h2 {
    margin-bottom: 27px;
    @include font-size(28px);
}

h3, .h3 {
    @include font-size(22px);
}

h4, .h4 {
    @include font-size(20px);
}

h6, .h6, h5, .h5 {
    @include font-size(18px);
}

.text {
    &-center {
        text-align: center
    }
    &-left {
        text-align: left
    }
    &-right {
        text-align: right
    }
    &-justify {
        text-align: justify
    }
    &-bold {
        font-weight: bold;
    }
    &-nowrap {
        white-space: nowrap;
    }
    &-lowercase {
        text-transform: lowercase;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.list {
    &-unstyled {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    &-line {
        padding-top: 15px;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            padding-left: 32px;
            position: relative;
            &::before {
                width: 16px;
                height: 1px;
                top: 12px;
                left: 0;
                position: absolute;
                background-color: #fff;
                content: '';
            }
            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
}

.clearfix {
    @include clearfix;
}

button, input, select, textarea {
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.modal-order {
    max-width: 253px;
    margin-left: auto;
    margin-right: auto;
    .ui-field {
        text-align: center;
    }
    .btn {
        width: 100%;
        margin-top: 18px;
    }
}

.title-section {
    margin-bottom: 30px;
    color: $colorLink;
    line-height: 1;
    text-transform: uppercase;
    @include font-size(45px)
}

.see-all {
    text-align: center;
    .btn {
        min-width: 250px;
    }
}
