.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}

.footer-copy {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.footer-phone {
    color: #000;
    text-decoration: none;
    transition: color .2s ease-in-out;

    &:hover {
        text-decoration: none;
    }
}
