.header {
    background: linear-gradient(90deg, #E1E1E1 21.64%, rgba(225, 225, 225, 0) 100%);
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
    }
}

.header-info {
    position: relative;
    z-index: 2;
}

.header-top {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 116px;
    margin-right: auto;
}

.header-phone {
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

    &::before {
        width: 32px;
        height: 32px;
        position: relative;
        top: 1px;
        display: block;
        background: url(../img/icons/what.svg) no-repeat center;
        background-size: contain;
        content: '';
    }
}

.header-home__title {
    font-family: 'news706_btbold', 'Sylfaen', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
    text-transform: uppercase;
    color: #040404;
}

.header-home__title-item {
    display: block;

    &:first-letter {
        color: #1F50A4;
    }
}

.header-home__list {
    padding-bottom: 26px;
}

@media (min-width: 576px) {
    .header {
        padding-top: 23px;
        padding-bottom: 23px;

        &::before {
            width: 904px;
            height: 745px;
            background: url(../img/header-decor.svg) no-repeat center;
        }
    }
    .header-top {
        margin-bottom: 35px;
    }
    .header-phone::before {
        margin-right: 13px;
    }
    .header-home {
        padding-bottom: 90px;
        margin-top: 107px;
        display: flex;
        align-items: flex-end;
    }
    .header-home__title {
        margin-right: auto;
        font-size: 72px;
        line-height: 86px;
    }
}

@media (max-width: 575px) {
    .header {
        padding-top: 5px;
        padding-bottom: 13px;

        &::before {
            width: 100%;
            height: 435px;
            background: url(../img/header-decor-m.svg) no-repeat top right;
            background-size: contain;
        }
    }
    .header-top {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 14px;
    }
    .header-home__title {
        margin-bottom: 26px;
        font-size: 36px;
        line-height: 43px;
    }
    .header-phone::before {
        margin-right: 22px;
    }
}
