{% extends "components/layout.twig" %}
{% set title = "PFM &#8212; полнофункцианальная фирма &#8212; Настраиваем управленческий учет. Создаем финансовые модели. Внедряем интерактивные отчеты" %}
{% block header %}{% include 'components/header.twig' %}{% endblock %}
{% block content %}
  <main class="main__header">
    <div class="main__header-inner container">
      <h1 class="main__header-title">
        Профессиональный консалтинг
        в&nbsp;сфере&nbsp;гостиниц
      </h1>

      <ul class="main__header-list list-unstyled">
        <li class="main__header-item">
          Рассчитаем доходность<br>
          будущей гостиницы
        </li>
        <li class="main__header-item">
          Внедрим мировые<br>
          стандарты отчётности
        </li>
        <li class="main__header-item">
          Увеличим стоимость<br>
          вашего бизнеса
        </li>
        <li class="main__header-item">
          Продадим вашу гостиницу<br>
          по лучшей цене
        </li>
      </ul>

      <a class="main__header-button btn__primary btn" href="#">
        Получить консультацию
        <svg class="btn__primary-icon">
          <use xlink:href="/assets/img/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </main>

  <section class="main__content">
    <div class="main__content-inner container">
      <div class="main__content-item">
        <strong>
          PFM&nbsp;&mdash; компания, специализирующаяся исключительно на&nbsp;индустрии гостеприимства. Мы&nbsp;предлагаем
          экспертные знания во&nbsp;всех типах гостиничных активов, включая отели, апартаменты, многофункциональные
          комплексы, а&nbsp;также спа и&nbsp;велнес.
        </strong>
      </div>
      <div class="main__content-item">
        Команда PFM имеет опыт работы как в&nbsp;глобальных консалтинговых компаниях, входящих в&nbsp;ТОП-3 гостиничных
        консультантов мира, так и&nbsp;в&nbsp;крупнейших в&nbsp;России гостиничных девелоперских проектах.
      </div>
      <div class="main__content-item">
        Поэтому мы&nbsp;предлагаем широкий спектр услуг&nbsp;&mdash; от&nbsp;технико-экономического обоснования при
        планировании строительства или покупки гостиницы до&nbsp;консультаций по&nbsp;стратегии выхода из&nbsp;гостиничного
        бизнеса.
      </div>
      <div class="main__content-item">
        Мы&nbsp;готовы оказать помощь в&nbsp;создании, развитии, или эксплуатации гостиничного объекта. Пожалуйста,
        свяжитесь с&nbsp;нами, чтобы узнать больше о&nbsp;том, как мы&nbsp;можем вам помочь.
      </div>
    </div>
  </section>

  <section class="container">
    <h2 class="main__title">Наши услуги</h2>

    <div class="main__services" id="js-main__services">
      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Глубокий анализ реализуемости проекта
          </h5>
          <div class="main__services-text">
            Принимайте взвешенные инвестиционные решения
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Поиск гостиничного оператора
          </h5>
          <div class="main__services-text">
            Передайте операционку профессионалам
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Операционный аудит
          </h5>
          <div class="main__services-text">
            Обеспечьте максимальную отдачу от своей гостиницы
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Технический аудит
          </h5>
          <div class="main__services-text">
            Узнайте состояние здания, оборудования и мебели в гостинице
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Автоматизация управленческого учета в гостинице
          </h5>
          <div class="main__services-text">
            Сосредоточьтесь на анализе результатов, а не на бесконечном ожидании отчетов
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Поиск топ-менеджмента
          </h5>
          <div class="main__services-text">
            Найдите лучших сотрудников в свою гостиницу
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Брокерские услуги
          </h5>
          <div class="main__services-text">
            Продайте гостиницу по лучшей цене
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Внедрение USALI
          </h5>
          <div class="main__services-text">
            Используйте лучшие в мире стандарты отчетности для гостиниц
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>

      <div class="main__services-item">
        <a class="main__services-wrap" href="#">
          <h5 class="main__services-title">
            Проектирование и дизайн
          </h5>
          <div class="main__services-text">
            Спроектируйте гостиницу, которая будет привлекать гостей
          </div>
          <div class="main__services-btn">
            <svg class="main__services-icon">
              <use xlink:href="/assets/img/icons.svg#arrow"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="main__tell">
    <div class="main__tell-inner container">
      <h2 class="main__title">Расскажите о&nbsp;Ваших&nbsp;задачах</h2>

      <div class="main__tell-content">
        И&nbsp;мы&nbsp;поможем сделать исследование рынка, получить инвестиции для строительства
        гостиницы, улучшить качество обслуживания гостей
        и&nbsp;увеличить стоимость Вашего бизнеса
      </div>


      <a class="main__tell-button btn__primary btn" href="#">
        Связаться с нами
        <svg class="btn__primary-icon">
          <use xlink:href="/assets/img/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </section>

{% endblock %}

{#
{% block footer %}{% include 'components/footer.twig' %}{% endblock %}#}
