{% extends "components/layout.twig" %}
{% set title = "PFM &#8212; полнофункцианальная фирма &#8212; Настраиваем управленческий учет. Создаем финансовые модели. Внедряем интерактивные отчеты" %}
{% block header %}{% include 'components/header.twig' %}{% endblock %}
{% block content %}
  <main class="main__header">
    <div class="main__header-inner container">
      <h1 class="main__header-title">
        Профессиональный консалтинг
        в&nbsp;сфере&nbsp;гостиниц
      </h1>

      <ul class="main__header-list list-unstyled">
        <li class="main__header-item">
          Рассчитаем доходность<br>
          будущей гостиницы
        </li>
        <li class="main__header-item">
          Внедрим мировые<br>
          стандарты отчётности
        </li>
        <li class="main__header-item">
          Увеличим стоимость<br>
          вашего бизнеса
        </li>
        <li class="main__header-item">
          Продадим вашу гостиницу<br>
          по лучшей цене
        </li>
      </ul>

      <a class="main__header-button btn__primary btn" href="#">
        Получить консультацию
        <svg class="btn__primary-icon">
          <use xlink:href="/assets/img/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </main>

  <section class="main__content">
    <div class="main__content-inner container">
      <div class="main__content-item">
        <strong>
          PFM&nbsp;&mdash; компания, специализирующаяся исключительно на&nbsp;индустрии гостеприимства. Мы&nbsp;предлагаем
          экспертные знания во&nbsp;всех типах гостиничных активов, включая отели, апартаменты, многофункциональные
          комплексы, а&nbsp;также спа и&nbsp;велнес.
        </strong>
      </div>
      <div class="main__content-item">
        Команда PFM имеет опыт работы как в&nbsp;глобальных консалтинговых компаниях, входящих в&nbsp;ТОП-3 гостиничных
        консультантов мира, так и&nbsp;в&nbsp;крупнейших в&nbsp;России гостиничных девелоперских проектах.
      </div>
      <div class="main__content-item">
        Поэтому мы&nbsp;предлагаем широкий спектр услуг&nbsp;&mdash; от&nbsp;технико-экономического обоснования при
        планировании строительства или покупки гостиницы до&nbsp;консультаций по&nbsp;стратегии выхода из&nbsp;гостиничного
        бизнеса.
      </div>
      <div class="main__content-item">
        Мы&nbsp;готовы оказать помощь в&nbsp;создании, развитии, или эксплуатации гостиничного объекта. Пожалуйста,
        свяжитесь с&nbsp;нами, чтобы узнать больше о&nbsp;том, как мы&nbsp;можем вам помочь.
      </div>
    </div>
  </section>
  {#
<section class="section-area container" id="budget">
    <h2 class="section-title section-title__decor">Бюджет в Excel</h2>

    <p class="section-text">
        Одна из&nbsp;основных задач любого бизнеса&nbsp;&mdash; наладить систему измерения результатов деятельности.
        Сейчас рынок предлагает большой набор вариантов для автоматизации. Однако за&nbsp;автоматизацией часто
        скрывается запутанный функционал и&nbsp;большие расходы на&nbsp;обслуживание.
        <br>
        Кроме того, даже в&nbsp;автоматизированных
        программах прогнозы необходимо забивать руками! Мы&nbsp;считаем, что бюджет компании можно вести в&nbsp;MS&nbsp;Excel
        и&nbsp;не&nbsp;переплачивать
    </p>

    <div class="section-inner">
        <div class="section-content">
            <h3 class="section-content__title">Что дает продукт?</h3>

            <ul class="list-graphic list-unstyled">
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-04">
                        <use xlink:href="/img/sprite.svg#icon-04"></use>
                    </svg>
                    План работы бизнеса на&nbsp;год
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-05">
                        <use xlink:href="/img/sprite.svg#icon-05"></use>
                    </svg>
                    Понять&nbsp;&mdash; бизнес приносит прибыль или нет
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-06">
                        <use xlink:href="/img/sprite.svg#icon-06"></use>
                    </svg>
                    Понять&nbsp;&mdash; хватит денег или нет
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-07">
                        <use xlink:href="/img/sprite.svg#icon-07"></use>
                    </svg>
                    Узнать какова стоимость бизнеса и&nbsp;как ее&nbsp;увеличить
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-08">
                        <use xlink:href="/img/sprite.svg#icon-08"></use>
                    </svg>
                    Увидеть фактические результаты работы бизнеса
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-09">
                        <use xlink:href="/img/sprite.svg#icon-09"></use>
                    </svg>
                    Понять&nbsp;&mdash; почему вы&nbsp;не&nbsp;достигли запланированной прибыли
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-10">
                        <use xlink:href="/img/sprite.svg#icon-10"></use>
                    </svg>
                    Работать в&nbsp;облаке
                </li>
            </ul>
        </div>

        <div class="section-service">
            <div class="section-service__list">
                <ul class="section-list list-unstyled">
                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите отказаться от&nbsp;бесконечной пересылки файлов?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите иметь единый источник правды?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите, чтобы форсмажоры типа пандемии никак не&nbsp;влияли на&nbsp;работу фин департамента?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Тогда мы&nbsp;создадим для вас бюджет в&nbsp;облаке для удаленной работы!
                    </li>
                </ul>
            </div>

            <div class="section-service__order">
                <div class="section-service__order-label">
                    Цена:<br class="show-xs"> от 35 000 рублей
                </div>
                <button type="button" class="section-service__order-btn btn btn-light">Заказать</button>
            </div>
        </div>
    </div>
</section>

<section class="section-report">
    <div class="section-area container">
        <div class="ratio ratio-16x9">
            <iframe src="https://app.powerbi.com/view?r=eyJrIjoiN2U1ODAyYTYtMDA3My00MTBiLTgyMWEtMWU1MmIwOGMwMWJiIiwidCI6IjdiMzc5OTYwLTBjMTUtNDk0Yi05NjhiLTQzZWMwMDdiOTQwMCIsImMiOjl9" allowfullscreen></iframe>
        </div>
    </div>
</section>


<section class="section-area container" id="model">
    <h2 class="section-title">Финансовая модель</h2>

    <p class="section-text">
        Наша финансовая модель используется для оценки реальных компаний в&nbsp;реальных ситуациях и&nbsp;включает в&nbsp;себя
        инструкцию о&nbsp;том, как ее&nbsp;использовать. Преимущество готовой модели заключается в&nbsp;том, что она
        позволяет пользователям сосредоточиться на&nbsp;анализе результатов, а&nbsp;не&nbsp;беспокоиться об&nbsp;ошибках
        вычислений.
    </p>

    <div class="section-inner">
        <div class="section-content">
            <h3 class="section-content__title">Что дает продукт?</h3>

            <ul class="list-graphic list-unstyled">
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-04">
                        <use xlink:href="/img/sprite.svg#icon-04"></use>
                    </svg>
                    Определить план развития на&nbsp;три&nbsp;&mdash; пять лет
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-11">
                        <use xlink:href="/img/sprite.svg#icon-11"></use>
                    </svg>
                    Посчитать, сколько для этого нужно собственных и&nbsp;заемных ресурсов
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-12">
                        <use xlink:href="/img/sprite.svg#icon-12"></use>
                    </svg>
                    Понять стоит реализовывать новый проект или нет
                </li>
            </ul>
        </div>
        <div class="section-service">
            <div class="section-service__list">
                <ul class="section-list list-unstyled">
                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите отказаться от&nbsp;бесконечной пересылки файлов?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите иметь единый источник правды?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите, чтобы форсмажоры типа пандемии никак не&nbsp;влияли
                        на&nbsp;работу фин департамента?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Тогда мы&nbsp;создадим для вас бюджет в&nbsp;облаке для удаленной работы!
                    </li>
                </ul>
            </div>

            <div class="section-service__order">
                <div class="section-service__order-label">
                    Цена: от 50 000 рублей
                </div>
                <button type="button" class="section-service__order-btn btn btn-light">Заказать</button>
            </div>
        </div>
    </div>
</section>


<section class="section-report">
    <div class="section-area container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiN2U1ODAyYTYtMDA3My00MTBiLTgyMWEtMWU1MmIwOGMwMWJiIiwidCI6IjdiMzc5OTYwLTBjMTUtNDk0Yi05NjhiLTQzZWMwMDdiOTQwMCIsImMiOjl9" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiN2U1ODAyYTYtMDA3My00MTBiLTgyMWEtMWU1MmIwOGMwMWJiIiwidCI6IjdiMzc5OTYwLTBjMTUtNDk0Yi05NjhiLTQzZWMwMDdiOTQwMCIsImMiOjl9" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-area container" id="power">
    <h2 class="section-title">Отчеты в Power BI</h2>

    <p class="section-text">
        Отчеты в&nbsp;Power BI&nbsp;&mdash; это мощный инструмент для анализа финансовых результатов деятельности компании
    </p>

    <div class="section-inner">
        <div class="section-content">
            <h3 class="section-content__title">Что дает продукт?</h3>

            <ul class="list-graphic list-unstyled">
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-13">
                        <use xlink:href="/img/sprite.svg#icon-13"></use>
                    </svg>
                    Наглядное представление отчетов (визуализация)
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-14">
                        <use xlink:href="/img/sprite.svg#icon-14"></use>
                    </svg>
                    Удобство эксплуатации&nbsp;&mdash; отчет можно отправить конечному пользователю в&nbsp;виде ссылки. Отчет открывается прямо в&nbsp;интернет-браузере и&nbsp;не&nbsp;требует наличия Excel или PowerPoint! Таким образом, руководитель в&nbsp;командировке получает живой отчет на&nbsp;своем планшете
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-15">
                        <use xlink:href="/img/sprite.svg#icon-15"></use>
                    </svg>
                    Отслеживание главных показателей бизнеса
                    в&nbsp;режиме on-line с&nbsp;мобильного телефона
                </li>
                <li class="list-graphic__item">
                    <svg class="list-graphic__icon list-graphic__icon-16">
                        <use xlink:href="/img/sprite.svg#icon-16"></use>
                    </svg>
                    Интеграция с&nbsp;Excel и&nbsp;1С
                </li>
            </ul>
        </div>
        <div class="section-service">
            <div class="section-service__list">
                <ul class="section-list list-unstyled">
                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите отказаться от&nbsp;бесконечной пересылки файлов?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите иметь единый источник правды?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Хотите, чтобы форсмажоры типа пандемии никак не&nbsp;влияли
                        на&nbsp;работу фин департамента?
                    </li>

                    <li class="section-list__item">
                        <svg class="section-list__icon">
                            <use xlink:href="/img/sprite.svg#logo-ico"></use>
                        </svg>
                        Тогда мы&nbsp;создадим для вас бюджет в&nbsp;облаке для удаленной работы!
                    </li>
                </ul>
            </div>

            <div class="section-service__order">
                <div class="section-service__order-label">
                    Цена: от 55 000 рублей
                </div>
                <button type="button" class="section-service__order-btn btn btn-light">Заказать</button>
            </div>
        </div>
    </div>
</section>


<section class="section-report">
    <div class="section-area container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiN2U1ODAyYTYtMDA3My00MTBiLTgyMWEtMWU1MmIwOGMwMWJiIiwidCI6IjdiMzc5OTYwLTBjMTUtNDk0Yi05NjhiLTQzZWMwMDdiOTQwMCIsImMiOjl9" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiN2U1ODAyYTYtMDA3My00MTBiLTgyMWEtMWU1MmIwOGMwMWJiIiwidCI6IjdiMzc5OTYwLTBjMTUtNDk0Yi05NjhiLTQzZWMwMDdiOTQwMCIsImMiOjl9" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-partners">
    <div class="section-area container">
        <h2 class="section-partners__title section-title">Наши клиенты</h2>

        <div class="partners-carousel">
            <div>
                <img src="/img/partner-logo/partner-01.jpg" class="partners-carousel__img" alt="">
            </div>
            <div>
                <img src="/img/partner-logo/partner-02.jpg" class="partners-carousel__img" alt="">
            </div>
            <div>
                <img src="/img/partner-logo/partner-03.jpg" class="partners-carousel__img" alt="">
            </div>
            <div>
                <img src="/img/partner-logo/partner-04.jpg" class="partners-carousel__img" alt="">
            </div>
            <div>
                <img src="/img/partner-logo/partner-05.jpg" class="partners-carousel__img" alt="">
            </div>
            <div>
                <img src="/img/partner-logo/partner-06.jpg" class="partners-carousel__img" alt="">
            </div>
            <div>
                <img src="/img/partner-logo/partner-07.jpg" class="partners-carousel__img" alt="">
            </div>
        </div>
    </div>
</section>


<section class="section-area container" id="case">
    <h2 class="section-title section-title__large">Кейсы</h2>

    <ul class="case">
        <li class="case-item">
            <a href="#" class="case-inner">
                <span class="case-title">Кейс #1</span>
                <span class="case-text">Группа компаний ведет очень подробный уп...</span>
                <span class="case-plus"></span>
            </a>
        </li>
        <li class="case-item">
            <a href="#" class="case-inner">
                <span class="case-title">Кейс #2</span>
                <span class="case-text">У акционеров появилась необходимость про...</span>
                <span class="case-plus"></span>
            </a>
        </li>
        <li class="case-item">
            <a href="#" class="case-inner">
                <span class="case-title">Кейс #3</span>
                <span class="case-text">Клиент решил продать непрофильный бизнес...</span>
                <span class="case-plus"></span>
            </a>
        </li>
        <li class="case-item">
            <a href="#" class="case-inner">
                <span class="case-title">Кейс #4</span>
                <span class="case-text">Инновационному стартапу требовалось орга...</span>
                <span class="case-plus"></span>
            </a>
        </li>
    </ul>

    <div class="section-area__all">
        <a href="#" class="btn btn-default">Смотреть все Кейсы</a>
    </div>
</section>


<section class="section-area container" id="teaching">
    <h2 class="section-title__large section-title">база знаний</h2>

    <ul class="teaching">
        <li class="teaching-item">
            <a href="#" class="teaching-media">
                <img src="/img/example/img-00.jpg" alt="">
            </a>
            <a href="#" class="teaching-title">
                Lorem Ipsum является текст-заполнитель обычно используется
            </a>

            <div class="teaching-date">11.11.20</div>

            <div class="teaching-text">
                Lorem Ipsum является текст-заполнитель обычно используется в графических, печать
                и издательской индустрии для
            </div>

            <ul class="teaching-footer list-unstyled">
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-17"></use>
                    </svg>
                    20
                </li>
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-18"></use>
                    </svg>
                    457
                </li>
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-19"></use>
                    </svg>
                    3
                </li>
            </ul>
        </li>

        <li class="teaching-item">
            <a href="#" class="teaching-media">
                <img src="/img/example/img-01.jpg" alt="">
            </a>
            <a href="#" class="teaching-title">
                Lorem Ipsum является текст-заполнитель обычно используется
            </a>

            <div class="teaching-date">11.11.20</div>

            <div class="teaching-text">
                Lorem Ipsum является текст-заполнитель обычно используется в графических, печать
                и издательской индустрии для
            </div>

            <ul class="teaching-footer list-unstyled">
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-17"></use>
                    </svg>
                    20
                </li>
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-18"></use>
                    </svg>
                    457
                </li>
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-19"></use>
                    </svg>
                    3
                </li>
            </ul>
        </li>

        <li class="teaching-item">
            <a href="#" class="teaching-media">
                <img src="/img/example/img-02.jpg" alt="">
            </a>
            <a href="#" class="teaching-title">
                Lorem Ipsum является текст-заполнитель обычно используется
            </a>

            <div class="teaching-date">11.11.20</div>

            <div class="teaching-text">
                Lorem Ipsum является текст-заполнитель обычно используется в графических, печать
                и издательской индустрии для
            </div>

            <ul class="teaching-footer list-unstyled">
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-17"></use>
                    </svg>
                    20
                </li>
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-18"></use>
                    </svg>
                    457
                </li>
                <li class="teaching-footer__item">
                    <svg class="teaching-footer__icon">
                        <use xlink:href="/img/sprite.svg#icon-19"></use>
                    </svg>
                    3
                </li>
            </ul>
        </li>
    </ul>

    <div class="section-area__all">
        <a href="#" class="btn btn-default">Смотреть все </a>
    </div>
</section>


<section class="contacts" id="contacts">
    <div class="section-area container">
        <h2 class="section-title section-title__large">Контакты</h2>

        <form action="#" class="contacts-form">
            <div class="contacts-form__col ui-group">
                <input type="text" class="ui-placeholder ui-field" placeholder="Имя">
            </div>
            <div class="contacts-form__col ui-group">
                <input type="text" class="ui-placeholder ui-field js__phone" placeholder="Телефон">
            </div>

            <div class="contacts-form__message ui-group">
                <textarea name="message" class="ui-placeholder ui-field" rows="2" placeholder="Сообщение"></textarea>
            </div>

            <div class="contacts-footer">
                <label for="agree" class="contacts-footer__agree custom-control bx-filter-param-label ">
                    <input type="checkbox" class="custom-control-input" id="agree">
                    <span class="custom-control-label custom-checkbox">Я даю свое согласие на обработку персональных данных</span>
                </label>

                <button class="contacts-btn btn btn-light">Отправить</button>
            </div>
        </form>
    </div>
</section>
  #}
{% endblock %}

{#
{% block footer %}{% include 'components/footer.twig' %}{% endblock %}#}
