{% extends "components/layout.twig" %}
{% set title = "ПФМ – полнофункциональная Фирма" %}
{% block header %}{% include 'components/header-pages.twig' %}{% endblock %}
{% block content %}
    <div class="page-content container">


        <ul class="faq-page list-unstyled">
            <li class="faq-page__item">
                <div class="faq-page__title">В чем суть ваших услуг?</div>
                <div class="faq-page__answer">Ответ</div>
                В основном мы выступаем внешним финансовым отделом, масштабируемым по потребностям
                Заказчика. Мы оказываем весь перечень услуг финансового подразделения компании от рутинных
                (например, ведение бухгалтерии) до стратегических (создание стратегии роста и ее защиты у
                кредитора). Иными словами, финансовое подразделение вашей компании на аутсорсинге
            </li>
            <li class="faq-page__item">

                <div class="faq-page__title">В чем преимущества аутсорсинга?</div>
                <div class="faq-page__answer">Ответ</div>
                Ключевое преимущество – это выборочное использование высококвалифицированных специалистов на
                определенный период времени или под конкретную задачу. Аутсорсинг позволяет использовать
                специалистов в конкретной области, не нанимая их себе в штат и не тратя деньги и время на
                поиск сотрудников, их найм, обеспечение социального пакета. Таким образом, если Ваше
                конкурентное преимущество не связано с финансовым подразделением, Вы смело можете
                пользоваться нашими услугами
            </li>
            <li class="faq-page__item">

                <div class="faq-page__title">Для кого ваши услуги?</div>
                <div class="faq-page__answer">Ответ</div>
                Для себя мы делим Клиентов на три группы в зависимости от жизненного цикла:

                На этапе становления мы можем быть полезны в организации и ведении бухгалтерского и
                управленческого учета, внедрении методик внутреннего контроля
                На этапе роста, как правило, Клиентам требуется написание Стратегии роста и помощь в ее
                реализации
                На этапе зрелости Клиенты часто нуждаются во внедрении усиленного внутреннего контроля, в
                проведении внешнего аудита, поиске источников повышения эффективности деятельности или
                ведении отчетности по МСФО
            </li>
            <li class="faq-page__item">

                <div class="faq-page__title">Почему мне удобнее работать с вами?</div>
                <div class="faq-page__answer">Ответ</div>
                Для малого бизнеса характерно иметь ограниченные административные ресурсы. Предприниматели,
                как правило, делают упор на сотрудников, генерирующих доход. Однако невнимание к
                вспомогательному подразделению может стоить Вам денег! Как предприниматель Вы знаете как
                обеспечить отсутствие кассовых разрывов. Но есть ли у Вас знания всех этапов – от начального
                уровня до финансового директора? И даже если есть, лучшее ли это использование Вашего
                времени? Может быть стоит сконцентрироваться на росте бизнеса и позволить нам заниматься
                рутиной?
            </li>
            <li class="faq-page__item">

                <div class="faq-page__title">У меня есть бухгалтер / финансист. Ка избежать конфликта с
                    вами?
                </div>
                <div class="faq-page__answer">Ответ</div>
                Возможно, Вы хотите расширить ресурсы своего финансового подразделения или заполнить
                пробелы. Мы четко разделим сферы ответственности, подготовим дорожную карту и шаг за шагом
                вместе с вашими сотрудниками будем двигаться к намеченной цели
            </li>
            <li class="faq-page__item">

                <div class="faq-page__title">Как оплачиваются ваши услуги?</div>
                <div class="faq-page__answer">Ответ</div>
                <ol>
                    <li>Платите за то, что Вам нужно! Мы настроим работу команды в соответствии с
                        потребностями – Вы можете передать нам все функции финансового подразделения или их
                        часть
                    </li>
                    <li>Фиксированная плата. Вам не нужно беспокоиться, что «счетчик включен»!
                        Согласованные, предсказуемые, фиксированные платежи означают, что Вы можете точно
                        рассчитать расходы
                    </li>
                    <li>Доступ к разным компетенциям. Ресурсы нашей Фирмы в Вашем распоряжении. Если
                        потребуется, мы добавим дополнительную, например, налоговую или стратегическую
                        экспертизу в обслуживающую Вас команду.
                    </li>
                </ol>
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer %}{% include 'components/footer.twig' %}{% endblock %}