{% extends 'components/layout.twig' %}
{% set title = "Операционный аудит" %}
{% set description = title %}
{% set isHomePage = 'no' %}
{% set breadcrumbs = [
  {
    'name': 'Услуги',
    'url': 'services.html',
  },
  {
    'name': title
  }
] %}

{% block content %}
<div class="section container">
  <ul class="section__boxes list-unstyled">
    <li class="section__boxes-item">
      <svg class="section__boxes-icon">
        <use xlink:href="/assets/img/icons.svg#discontent"></use>
      </svg>

      <div>
        У&nbsp;вас уже есть гостиница, но&nbsp;вы&nbsp;не&nbsp;довольны ее&nbsp;работой?
      </div>
    </li>

    <li class="section__boxes-item">
      <svg class="section__boxes-icon">
        <use xlink:href="/assets/img/icons.svg#active"></use>
      </svg>

      <div>
        Вы&nbsp;хотите повысить стоимость своих гостиничных активов?
      </div>
    </li>

    <li class="section__boxes-item">
      <svg class="section__boxes-icon">
        <use xlink:href="/assets/img/icons.svg#bank"></use>
      </svg>

      <div>
        Или вы&nbsp;банк, получивший гостиницу в&nbsp;рамках процедуры взыскания задолженности?
      </div>
    </li>
  </ul>

  <p class="section__paragraph text__center text__bold">
    Во&nbsp;всех этих случаях требуется экспертное мнение
    <br>
    об&nbsp;эффективности работы отеля и&nbsp;способах увеличения стоимости бизнеса
  </p>

  <h2 class="h1 text__center">Мы поможем вам:</h2>

  <div class="section__list">
    <aside class="section__list-box">
      <ul class="list-unstyled">
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Проанализировать стандарты и&nbsp;уровень сервиса обслуживания гостей. Изучить работу сотрудников
          при бронировании, заселении, проживании
        </li>
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Оценить эффективность работы служб общественного питания
        </li>
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Оценить эффективность работы прочих служб
        </li>
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Проанализировать конкурентов и&nbsp;конкурентные преимущества гостиницы
        </li>
      </ul>
    </aside>

    <aside class="section__list-box">
      <ul class="services__clients-list list-unstyled">
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Выполлнить оценку кадрового потенциала
        </li>
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Выполнить анализ текущего финансового положения отеля
        </li>
        <li class="section__list-item">
          <svg class="section__list-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Повысить стоимость гостиницы как бизнеса
        </li>
      </ul>
    </aside>
  </div>
</div>
{% endblock %}
