{% extends 'components/layout.twig' %}
{% set title = "Услуги" %}
{% set description = "Услуги" %}
{% set isHomePage = 'no' %}
{% set breadcrumbs = [
  {
    'name': title
  }
] %}
{% block content %}
<section class="container section">
  {% include 'components/main__services-list.twig' %}
</section>
{% endblock %}
