{% extends 'components/layout.twig' %}
{% set title = "Автоматизация управленческого учета в&nbsp;гостиние" %}
{% set description = title %}
{% set isHomePage = 'no' %}
{% set breadcrumbs = [
  {
    'name': 'Услуги',
    'url': 'services.html',
  },
  {
    'name': title
  }
] %}

{% block content %}
  <div class="section container">
    <p class="section__paragraph">
      Наша команда занимается управлением финансами в&nbsp;индустрии гостеприимства более семнадцати лет. За&nbsp;это время мы&nbsp;глубоко изучили опыт ведения и&nbsp;автоматизации управленческого учета как российскими отельерами, так и&nbsp;международными операторами.
    </p>

    <p class="section__paragraph text__center text__bold">
      На основе полученного опыта мы создали
    </p>

    <h2 class="section__title section__title--blue">Hotel Operational Management Software</h2>

    <p class="section__paragraph">
      Это программа, позволяющая автоматизировать управленческий учет в&nbsp;гостинице. HOMS будет полезен
      всем представителям индустрии гостеприимства, кто стремится:
    </p>

    <section class="services__clients">
      <div class="services__clients-content">
        <aside class="services__clients-box">
          <ul class="list-unstyled">
            <li class="services__clients-item">
              <svg class="services__clients-icon">
                <use xlink:href="/assets/img/icons.svg#check"></use>
              </svg>
              Экономить денежные средства отеля
            </li>
            <li class="services__clients-item">
              <svg class="services__clients-icon">
                <use xlink:href="/assets/img/icons.svg#check"></use>
              </svg>
              Навести порядок у&nbsp;себя в&nbsp;управленческом учете
            </li>
            <li class="services__clients-item">
              <svg class="services__clients-icon">
                <use xlink:href="/assets/img/icons.svg#check"></use>
              </svg>
              Минимизировать ручной труд
            </li>
          </ul>
        </aside>

        <aside class="services__clients-box">
          <ul class="services__clients-list list-unstyled">
            <li class="services__clients-item">
              <svg class="services__clients-icon">
                <use xlink:href="/assets/img/icons.svg#check"></use>
              </svg>
              Повысить конкурентоспособность
            </li>
            <li class="services__clients-item">
              <svg class="services__clients-icon">
                <use xlink:href="/assets/img/icons.svg#check"></use>
              </svg>
              Выделить больше времени для анализа данных
            </li>
          </ul>
        </aside>
      </div>
    </section>
  </div>
{% endblock %}
