{% extends 'components/layout.twig' %}
{% set title = "Услуги" %}

{% block headerPages %}
  {% include 'components/header-page.twig' %}
{% endblock %}

{% block content %}
<section class="services__if container">
  <div class="services__if-item">
    <div class="services__if-title">Если вы</div>

    <svg class="services__if-icon">
      <use xlink:href="/assets/img/icons.svg#owner"></use>
    </svg>

    <div class="services__if-text">
      Владелец земли, изучающий возможность строительства гостиницы
    </div>
  </div>

  <div class="services__if-item">
    <div class="services__if-title">Если вы</div>

    <svg class="services__if-icon">
      <use xlink:href="/assets/img/icons.svg#creditor"></use>
    </svg>

    <div class="services__if-text">
      Кредитор, организующий финансирование для строительства гостиницы
    </div>
  </div>

  <div class="services__if-item">
    <div class="services__if-title">Если вы</div>

    <svg class="services__if-icon">
      <use xlink:href="/assets/img/icons.svg#official"></use>
    </svg>

    <div class="services__if-text">
      Государственное учреждение и&nbsp;хотите подробно разобраться в&nbsp;гостиничном рынке Вашего региона
    </div>
  </div>
</section>
{% endblock %}
