{% extends 'components/layout.twig' %}
{% set title = "Поиск гостиничного оператора" %}
{% set description = "Поиск гостиничного оператора" %}
{% set isHomePage = 'no' %}
{% set breadcrumbs = [
  {
    'name': 'Услуги',
    'url': 'services.html',
  },
  {
    'name': title
  }
] %}

{% block content %}
<div class="section container">
  <p class="section__paragraph">
    Часто эффективной стратегией повышения стоимости гостиничной недвижимости является приведение
    <br>
    ее&nbsp;в&nbsp;соответствие с&nbsp;требованиями гостиничного оператора
  </p>

  <h2 class="h1 text__center">
    Но у владельцев отелей возникают проблемы:
  </h2>

  <ul class="section__boxes section__boxes--large list-unstyled">
    <li class="section__boxes-item">
      <svg class="section__boxes-icon">
        <use xlink:href="/assets/img/icons.svg#relations"></use>
      </svg>

      <div>
        Начинающие владельцы отелей не&nbsp;имеют прочных отношений с&nbsp;операторами
      </div>
    </li>

    <li class="section__boxes-item">
      <svg class="section__boxes-icon">
        <use xlink:href="/assets/img/icons.svg#experience"></use>
      </svg>

      <div>
        Владельцам отелей не&nbsp;хватает необходимого отраслевого опыта
      </div>
    </li>

    <li class="section__boxes-item">
      <svg class="section__boxes-icon">
        <use xlink:href="/assets/img/icons.svg#consultations"></use>
      </svg>

      <div>
        Владельцы отелей нуждаются в&nbsp;консультации по юридическим вопросам
      </div>
    </li>
  </ul>

  <section class="services__clients">
    <h2 class="section__title">Мы поможем вам:</h2>

    <div class="services__clients-content">
      <aside class="services__clients-box">
        <ul class="list-unstyled">
          <li class="services__clients-item">
            <svg class="services__clients-icon">
              <use xlink:href="/assets/img/icons.svg#check"></use>
            </svg>
            PFM имеет большой опыт ведения переговоров
            с&nbsp;гостиничными операторами и&nbsp;оказывает
            помощь по&nbsp;всем этим вопросам
          </li>
        </ul>
      </aside>

      <aside class="services__clients-box">
        <ul class="services__clients-list list-unstyled">
          <li class="services__clients-item">
            <svg class="services__clients-icon">
              <use xlink:href="/assets/img/icons.svg#check"></use>
            </svg>
            У&nbsp;нас есть база данных соглашений о&nbsp;франчайзинге
            и&nbsp;управлении, которая поможет вам определить
            бренд, франшизу и&nbsp;оператора
          </li>
        </ul>
      </aside>
    </div>
  </section>
</div>
{% endblock %}
