{% extends 'components/layout.twig' %}
{% set title = "Услуги" %}

{% block headerPages %}
  {% include 'components/header-page.twig' %}
{% endblock %}

{% block content %}
<section class="services__if container">
  <div class="services__if-item">
    <div class="services__if-title">Если вы</div>

    <svg class="services__if-icon">
      <use xlink:href="/assets/img/icons.svg#owner"></use>
    </svg>

    <div class="services__if-text">
      Владелец земли, изучающий возможность строительства гостиницы
    </div>
  </div>

  <div class="services__if-item">
    <div class="services__if-title">Если вы</div>

    <svg class="services__if-icon">
      <use xlink:href="/assets/img/icons.svg#creditor"></use>
    </svg>

    <div class="services__if-text">
      Кредитор, организующий финансирование для строительства гостиницы
    </div>
  </div>

  <div class="services__if-item">
    <div class="services__if-title">Если вы</div>

    <svg class="services__if-icon">
      <use xlink:href="/assets/img/icons.svg#official"></use>
    </svg>

    <div class="services__if-text">
      Государственное учреждение и&nbsp;хотите подробно разобраться в&nbsp;гостиничном рынке Вашего региона
    </div>
  </div>
</section>

<section class="services__clients container">
  <h2 class="main__title">Как мы&nbsp;помогаем нашим клиентам?</h2>

  <div class="services__clients-content">
    <aside class="services__clients-box">
      <h3 class="services__clients-title">Владельцам земли и&nbsp;кредиторам</h3>

      <ul class="list-unstyled">
        <li class="services__clients-item">
          <svg class="services__clients-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Получить объективный и&nbsp;независимый взгляд на&nbsp;проект
        </li>
        <li class="services__clients-item">
          <svg class="services__clients-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Найти общий язык с&nbsp;банком-кредитором
        </li>
        <li class="services__clients-item">
          <svg class="services__clients-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Обосновать проект для получения государственной поддержки
        </li>
      </ul>
    </aside>

    <aside class="services__clients-box">
      <h3 class="services__clients-title">Государственным учреждениям</h3>

      <ul class="services__clients-list list-unstyled">
        <li class="services__clients-item">
          <svg class="services__clients-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Проанализировать туристский потенциал региона
        </li>
        <li class="services__clients-item">
          <svg class="services__clients-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Понять какие гостиницы нужны региону
        </li>
        <li class="services__clients-item">
          <svg class="services__clients-icon">
            <use xlink:href="/assets/img/icons.svg#check"></use>
          </svg>
          Создать туристскую стратегию на&nbsp;основе лучших мировых практик
        </li>
      </ul>
    </aside>
  </div>
</section>

<section class="services__contacts">
  <div class="container">
    <h2 class="main__title">Свяжитесь с нами</h2>

    <p class="services__contacts-text">
      Наша команда готова помочь вам разработать и&nbsp;реализовать стратегии
      для&nbsp;максимизации эффективности ваших инвестиций.<br>
      Свяжитесь с&nbsp;нами, чтобы узнать больше о&nbsp;том, как мы&nbsp;можем помочь вам.
    </p>

    <ul class="main__contacts-list list-unstyled">
      <li class="main__contacts-item">
        <svg class="main__contacts-icon">
          <use xlink:href="/assets/img/icons.svg#phone"></use>
        </svg>
        <div>Телефон</div>
        <a class="main__contacts-link" href="tel:+7 (915) 828-00-33" rel="nofollow">+7 (915) 828-00-33</a>
      </li>

      <li class="main__contacts-item">
        <svg class="main__contacts-icon">
          <use xlink:href="/assets/img/icons.svg#email"></use>
        </svg>
        <div>e-mail</div>
        <a class="main__contacts-link" href="mailto:info@pfmpartners.com" rel="nofollow">info@pfmpartners.com</a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
