.btn {
    min-width: 135px;
    padding: 0 10px;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    font-family: 'Sylfaen', sans-serif;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &-default {
        min-width: 164px;
        height: 57px;
        padding: 0 23px;
        color: $colorLink;
        position: relative;
        background-color: #fff;
        z-index: 1;
        border: 2px solid #929498;
        @include font-size(18px);

        &:disabled {
            cursor: default;
            pointer-events: none;
            background-color: #A0A0A0;
            color: #fff;
        }

        &:hover {
            color: #fff;
            background-color: $colorLink;
            border-color: $colorLink;
        }
    }

    &-light {
        min-width: 164px;
        height: 57px;
        padding: 0 40px;
        color: #fff;
        border: 2px solid #fff;
        position: relative;
        z-index: 1;
        @include font-size(18px);

        &:disabled {
            cursor: default;
            pointer-events: none;
        }

        &:hover {
            color: $colorLink;
            background-color: #fff;
        }
    }
}
