.btn {
    min-width: 135px;
    padding: 0 10px;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    font-family: 'Sylfaen', sans-serif;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @media (max-width: 575px) {
        max-width: 80%;
        width: 100%;
    }

    &:focus {
        outline: none;
    }

    &-default {
        min-width: 237px;
        height: 50px;
        padding: 0 23px;
        color: $colorLink;
        position: relative;
        background-color: #fff;
        z-index: 1;
        border: 1px solid #9D9E9E;
        font-size: 18px;
        transition: box-shadow .3s ease-in-out, color .3s ease-in-out;

        &:disabled {
            cursor: default;
            pointer-events: none;
            background-color: #A0A0A0;
            color: #fff;
        }

        &:hover {
            color: #fff;
            box-shadow: 0 0 40px 40px $colorLink inset;
            border-color: $colorLink;
        }
    }

    &-light {
        min-width: 164px;
        height: 50px;
        padding: 0 40px;
        color: #fff;
        border: 1px solid #fff;
        position: relative;
        z-index: 1;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        transition: box-shadow .3s ease-in-out, color .3s ease-in-out;

        &:disabled {
            cursor: default;
            pointer-events: none;
        }

        &:hover {
            color: $colorLink;
            box-shadow: 0 0 40px 40px #fff inset;
        }

        &:active {
            color: $colorLink;
            box-shadow: 0 0 40px 40px #fff inset, 0 0 7px 0 #fff;
        }
    }
}
