.ui-placeholder {
    @include hidePlaceholder {
        opacity: 1;
        color: rgba(#fff, .7);
        transition: opacity .2s ease-in-out;
    }

    &:focus {
        @include hidePlaceholder {
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }
    }
}

.ui-group {
    margin-bottom: 15px;
    position: relative;
}

textarea.ui-field {
    padding-top: 12px;
    min-height: 50px;
}

.ui-field {
    height: 35px;
    width: 100%;
    padding: 0;
    color: #fff;
    display: block;
    outline: 0;
    font-size: 18px;
    border: 1px solid transparent;
    border-bottom-color: #fff;
    border-radius: 0;
    transition: all .2s ease-in-out;
    background-color: transparent;
    outline: none;
    font-family: 'Sylfaen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif, 'Segoe UI Symbol';
}

.field-filled .ui-field {
    color: #fff;
    border-color: #fff !important;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /* выставляется желаемая задержка */
}

input:-webkit-autofill {
    -webkit-text-fill-color: #393939 !important;
}
