.base__article {
  margin-bottom: 70px;
  text-align: center;
}

@media (min-width: 576px) {
  .base__article-list {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 45px;
  }
  .base__article-media {
    margin-bottom: 44px;
  }
}

@media (max-width: 576px) {
  .base__article-list {
    margin-bottom: 40px;
  }
  .base__article-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .base__article-media {
    margin-bottom: 20px;
  }
}
