.base__video-list {
  display: grid;
}

.base__video-title {
  line-height: 25px;
}

.base__video-date {
  font-weight: 300;
  line-height: 25px;
}

.base__video-media {
  margin-bottom: 16px;
  border-radius: 8px;
}

.base__video-frame {
  border-radius: 8px;
}

@media (min-width: 576px) {
  .base__video-list {
    margin-bottom: 52px;
  }
}

@media (min-width: 992px) {
  .base__video-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}

@media (max-width: 576px) {
  .base__video-list {
    margin-bottom: 40px;
  }
  .base__video-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .base__video-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
}
