.base {
  text-align: center;
}

.base__media {
  margin-bottom: 35px;
}

.base__text {
  margin-bottom: 35px;
  font-weight: 300;
  line-height: 25px;
}

.base__more {
  text-align: center;
}

.base__more-button {
  max-width: 290px;
}

@media (max-width: 576px) {
  .base__media {
    height: 220px;
    margin-bottom: 35px;
    border-radius: 16px;
  }

  .base__media-img {
    height: 100%;
    object-fit: cover;
  }
}
