.breadcrumbs {
  font-size: 16px;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__link {
  color: inherit;
  transition: color .2s ease-in-out;

  &:hover {
    color: #5ca3f3;
  }
}

.breadcrumbs__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 25px;

    &::after {
      width: 5px;
      height: 5px;
      border-bottom: 1px solid;
      border-right: 1px solid;
      position: absolute;
      right: -14px;
      top: 6px;
      content: '';
      transform: rotate(-45deg);
    }
  }

  @media (max-width: 768px) {
    &:last-child {
      width: 100%;
      line-height: 1.4;
    }
  }
}

.breadcrumbs__item-current {
  font-weight: 900;
}
