.contacts {
    color: #fff;
    background-color: #124B9B;
}

.contacts-form__col {
    position: relative;
}

.contacts-footer__agree {
    font-size: 18px;
    color: #fff;
}

.contacts-footer a {
    color: inherit
}

@media (min-width: 576px) {
    .contacts {
        padding-top: 34px;
        padding-bottom: 34px;
    }
    .contacts-form {
        margin-left: -20px;
        margin-right: -20px;
        display: flex;
        flex-wrap: wrap;
    }
    .contacts-form__col,
    .contacts-form__message,
    .contacts-footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contacts-form__col {
        max-width: 50%;
        flex-basis: 50%;
    }
    .contacts-form__message {
        margin-bottom: 40px;
        width: 100%;
    }
    .contacts-footer {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .contacts-footer__agree {
        margin-right: auto;
    }
    .contacts-form__col {
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .contacts {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .contacts-form__col {
        margin-bottom: 32px;
    }
    .contacts-form__message {
        margin-bottom: 24px;
    }
    .contacts-footer__agree {
        margin-bottom: 52px;
        line-height: 24px;
    }
    .contacts-btn {
        width: 100%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
