.main__services-item {
  position: relative;
}

.main__services-wrap {
  height: 100%;
  padding: 40px 33px 35px;
  color: inherit;
  display: block;
  border: 1px solid #e1e1e1;
  box-shadow: 0 7px 15px rgba($body-color, .15);
  border-radius: 9px;
  transition: color .2s ease-in-out;
}

.main__services-title {
  min-height: 93px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
}

.main__services-text {
  font-weight: 300;

  line-height: 25px;
}

.main__services-icon {
  margin: auto;
  width: 13px;
  height: 13px;
  fill: #fff;
}

@media (min-width: 576px) {
  .main__services {
    padding-top: 85px;
    padding-bottom: 95px;
  }
  .main__services-list {
    display: grid;
  }
}

@media (min-width: 992px) {
  .main__services-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .main__services-list {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

@media (max-width: 576px) {
  .main__services {
    padding-top: 40px;
  }
  .main__services-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main__services-wrap {
    min-height: 255px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .main__services-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .main__services-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
