.main__contacts {
  margin-top: 40px;
  background-color: #e8e8e8;
}

.main__contacts-title {
  text-align: left;
}

.main__contacts-item {
  padding-left: 55px;

  line-height: 25px;
  position: relative;
}

.main__contacts-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  fill: #2462BC;
}

.main__contacts-link {
  font-weight: 900;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.main__contacts-map {
  height: 295px;
}

@media (min-width: 768px) {
  .main__contacts-inner {
    display: flex;
  }

  .main__contacts-info {
    width: 50%;
  }
  .main__contacts-map {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .main__contacts-info {
    padding-top: 64px;
  }
  .main__contacts-list {
    display: flex;
  }
  .main__contacts-item:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 1200px) {
  .main__contacts-info {
    padding-top: 30px;
  }
  .main__contacts-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .main__contacts-info {
    margin-bottom: 35px;
  }
  .main__contacts-list {
    display: flex;
    flex-wrap: wrap;
  }
  .main__contacts-item:not(:last-child) {
    margin-right: 40px;
  }
}
