.main__team {
  margin-bottom: 80px;
}

.main__team-inner {
  margin-bottom: 50px;
}

.main__team-aside {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
}

.main__team-date {
  line-height: 1;
  color: #2462BC;
}

.main__team-text {
  font-size: 20px;
  line-height: 24px;
}

.main__team-boxed {
  height: 100%;
  color: inherit;
  border: 1px solid #e1e1e1;
  box-shadow: 0 7px 15px rgba($body-color, .15);
  border-radius: 9px;
  font-size: 20px;
  line-height: 24px;
}

.main__persons {
  margin-bottom: 30px;
}

.main__person-item {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-weight: 300;
}

.main__person-img {
  margin-bottom: 30px;
}

.main__person-title {
  margin-bottom: 1px;
  font-size: inherit;
  line-height: inherit;
}

.main__person-content {
  max-width: 83%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

@media (min-width: 576px) {
  .main__team-date {
    font-size: 200px;
  }
  .main__team-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main__persons {
    display: grid;
  }
  .main__team-text {
    margin-bottom: 50px;
  }
  .main__team-boxed {
    padding: 40px 33px 35px;
  }
}

@media (min-width: 992px) {
  .main__team-inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 50px;
  }
  .main__team-part {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .main__persons {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
  }
}

@media (max-width: 992px) {
  .main__team-date {
    margin-right: 18px;
    float: left;
  }
}

@media (max-width: 576px) {
  .main__team-aside p:last-of-type {
    clear: left;
  }
  .main__team-date {
    font-size: get-vw(120px, 375);
    letter-spacing: -0.1em;
    margin-top: -18px;
  }
  .main__team-text {
    padding-top: 17px;
    text-align: center;
    margin-bottom: 10px;
  }
  .main__team-box {
    padding: 20px;
  }
  .main__team-boxed {
    padding: 31px 27px;
  }
  .main__person-item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .main__team-part {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .main__persons {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}
