.partners-carousel__img {
    margin-left: auto;
    margin-right: auto;
}

.partners-carousel__arrow {
    position: absolute;
    top: 50%;
    z-index: 2;

    &::before {
        width: 22px;
        height: 22px;
        display: block;
        border-bottom: 3px solid #1f50a4;
        border-left: 3px solid #1f50a4;
        content: '';
    }
}

.partners-carousel__prev {
    left: 0;
    transform: rotate(45deg);
}

.partners-carousel__next {
    right: 0;
    transform: rotate(-135deg);
}
