.services__if {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 34px;
}

.services__if-item {
  min-height: 279px;
  padding: 31px 20px;
  color: inherit;
  display: block;
  position: relative;
  border-radius: 9px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 7px 15px rgba($body-color, .15);
}

.services__if-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  top: 43px;
  left: 30px;
}

.services__if-icon {
  width: 114px;
  height: 129px;
  margin: 0 auto 8px;
  display: block;
}

.services__if-text {
  font-size: 20px;
  line-height: 24px;
}
