.services__if {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.services__if-item {
  min-height: 279px;
  padding: 31px 20px;
  color: inherit;
  display: block;
  position: relative;
  border-radius: 9px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 7px 15px rgba($body-color, .15);
}

.services__if-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  top: 43px;
  left: 30px;
}

.services__if-icon {
  width: 114px;
  height: 129px;
  margin: 0 auto 8px;
  display: block;
}

.services__if-text {
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 1100px) {
  .services__if {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
  }
}

@media (max-width: 768px) {
  .services__if-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .services__if-title {
    font-size: get-vw(20px, 375);
  }
  .services__if-icon {
    width: get-vw(114px, 375);
    height: get-vw(129px, 375);
    margin-bottom: get-vw(10px, 375);
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .services__if {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__if-item {
    width: calc(50% - 16px);

    &:last-child {
      margin: 32px auto 0;
    }
  }
}
