$mainColor: #393939;
$colorLink: #0154B2;
$grayColor: #5e5d5d;
$grayLightColor: #9d9d9d;

/* bootstrap variables */
$font-family-sans-serif: 'source-sans', -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$body-color: #000;
$link-decoration: none;
