.btn {
  width: 100%;
  padding: 0 10px;
  background: transparent;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  border: 0;
  text-decoration: none;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @media (max-width: 575px) {
    max-width: 80%;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &__primary {
    padding: 26px 16px;
    background-color: #2462BC;
    border-radius: 9px;
    font-weight: 900;
    color: #fff;
    transition: opacity .2s ease-in-out;

    &-icon {
      width: 13px;
      height: 13px;
      margin-left: 8px;
      fill: #fff;
    }

    &:hover {
      opacity: .9;
      color: #fff;
    }

    @media (min-width: 360px) {
      font-size: 18px;
    }
  }
}
