@font-face {
  font-family: 'source-sans';
  src: url('../fonts/SourceSans3-Black.ttf.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: url('../fonts/SourceSans3-Regular.ttf.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: url('../fonts/SourceSans3-Light.ttf.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
