.form__group {
  margin-bottom: 23px;
}

.form__label {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
}

.form__filed,
.form__textarea {
  width: 100%;
  padding: 0 16px;
  color: $body-color;
  background: #fff;
  border-radius: 9px;
  display: block;
  border: 0;

  @include hidePlaceholder {
    color: #979797;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }

  &:focus {
    outline: none;

    @include hidePlaceholder {
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }
  }
}

.form__filed {
  height: 60px;
}

.form__textarea {
  height: 174px;
  padding-top: 16px;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  /* выставляется желаемая задержка */
}

input:-webkit-autofill {
  -webkit-text-fill-color: #393939 !important;
}
