body {
  padding-top: 90px;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text__bold {
  font-weight: 900;
}

.text__center {
  text-align: center;
}

#jGrowl {
  font-size: 16px;
}

img {
  max-width: 100%;
}

// Typography

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
}

h1, .h1 {
  @extend %heading;
  @media (min-width: 576px) {
    margin-bottom: 46px;
    font-size: 48px;
    line-height: 60px;
  }
  @media (max-width: 576px) {
    margin-bottom: 22px;
    font-size: get-vw(34px, 375);
    line-height: get-vw(43px, 375);
  }
}

h2, .h2 {
  @extend %heading;
  @include font-size($h2-font-size);
}

h3 {
  @extend %heading;
  @include font-size($h3-font-size);
}

h4 {
  @extend %heading;
  @include font-size($h4-font-size);
}

h5 {
  @extend %heading;
  @include font-size($h5-font-size);
}

h6 {
  @extend %heading;
  @include font-size($h6-font-size);
}
