.modal__final {
  text-align: center;
  display: none;
}

.modal__final-title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: #73B5FF;
}

.modal__final-text {
  font-weight: 300;
  line-height: 25px;
}
